/*
Theme Name: finaxar
Theme URI: http://wordpress.org
Author: finaxar
Author URI: http://wordpress.org/
Description: Finaxar
*/

.top-fold {
    background: url("../images/banner-home.png") no-repeat top;
    background-size: cover;
    min-height: 710px;
}
.top-fold.product-comparison {
    background: url("../images/bg-mcl-loc.png") no-repeat top;
    background-size: cover;
    background-position-y: -50px;
    min-height: 550px;
}
.top-fold.product-comparison.comparison-gc-tbl {
    background-image: url("../images/bg-gcf-tbl.png");
}
.top-fold.product-comparison.comparison-if-frf {
    background-image: url("../images/bg-if-frf.png");
}

.top-fold.product-fold {
    background: url("../images/bg-product.png") no-repeat;
    background-size: cover;
    min-height: 760px;
}
.product-growth-capital {
    background: url("../images/bg-product-growth.png") no-repeat top;
    background-size: cover;
    min-height: 760px;
    background-position-y:-3px;
}
.affordable-rates {
    background: url("../images/bg-affordable-rates.png") no-repeat;
    background-size: cover;
    background-position-y: 120px;
}
.bg-white {
    background-color: #fff;
    color: #000;
    background-image: none !important;
}
.bg-white:hover {
    color: #000;
}
/*** header ***/

.navbar-brand img {
    width:80%;
    height: auto;
}
.login-link {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5;
    font-size: 0.875rem;
    margin-right: 20px;
}
/***** general *****/
input:focus,.form-control:focus{
    outline: none;
    box-shadow: none;
}
h3{
    font-weight: 100;
}
.mb-6{
    margin-bottom: 6rem;
}
.lh-21 {
    line-height: 21px !important;
}
.font-weight-500{
    font-weight: 500 !important;
}
.font-weight-600{
    font-weight: 600 !important;
}
.banner-title { 
    font-weight: 500
}
.banner-subtitle, .btn {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 500;
}
#accordian .btn {
    color: #0450e0;
}
.btn:hover {
    text-decoration: none;
}
.pt-7{
    padding-top: 6rem;
}
.t-0{
    top: 0 !important;
}
.z-index-1{
    z-index: -1 !important;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}
.dropdown-menu{
    background-color: rgba(0,102,191,0.7);
    border-radius: 0;
    border: none;
    left: 10px;
}
.home-banner{
    padding-top: 150px;
}
.home-banner h2 {
    font-size: 2.5rem;
}
.home-banner h6 span{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.got-questions {
    padding-top: 185px;
}
.play-video {
    padding-top: 100px
}
.got-questions span {
    text-decoration: underline
}
.light-blue{
    color: #0450e0;
}
.dark-blue{
    color: #044ad8;
}
.text-light-green{
    color: #30e7ae;
}
.black1{
    color: #223745;
}
.black2{
    color: #404040;
}
.text-content-black{
    color:rgba(64, 64, 64, 0.75);
}
.op-75 {
    opacity: 0.75;
}
.font-sourcesanspro {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.font-worksans {
    font-family: 'Work Sans', Arial, sans-serif;
}
.font-12 {
    font-size: 0.75rem
}
.font-13 {
    font-size: 0.813rem
}
.font-14 {
    font-size: 0.875rem
}
.font-15 {
    font-size: 0.938rem
}
.font-16{
    font-size: 1.2rem;
}
.ls-2 {
    letter-spacing: 0.50px;
}
.ls-3 {
    letter-spacing: 0.85px;
}
.font-2 {
    font-size: 1.5rem;
}
.font-3 {
   font-family: 'Work Sans', Arial, sans-serif;
    font-size: 1.75rem;
    letter-spacing: -0.5px;
    font-weight: 400;
}
.font-4 {
    font-size: 2.5rem;
}
.font-thin {
    font-weight: 300;
}
.btn-primary{
    border: none;
    font-size: 0.813rem;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(161deg, #1ba3b6 0%, #0450e0 51%, #1ba3b6 100%);
    text-transform: uppercase;
    padding: 8px;
    letter-spacing: .7px;
}
.btn-primary:hover { 
    background-position: right center; 
    transition: all .4s ease-in-out;
}

.btn-gradient {
    background-image: linear-gradient(to left, #002987  , #0450e0);
}

.btn-secondary {
    border: 1.5px solid #fff;
    font-size: 0.813rem;
    transition: 0.5s;
    background-size: 200% auto;
    background-color: transparent;
    text-transform: uppercase;
}
.btn-secondary:hover { 
    background-position: right center; 
    transition: all .4s ease-in-out;
    background-color: #fff;
    border: 1.5px solid #fff;
    color: #000;
}
.affordable-rates >div>div>div>p{
    color: rgba(64, 64, 64, 0.9);

}
/*
.products h5,.products p{
    padding-left: 15%;
    width: 85%;
}
*/
/*.products >div >div{
    /*background-size: contain;*/
   /* background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 485px;
}
.products > div>div>p{
    font-size: 14px;
}
.products > div>div>div {
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 70vh;
}
.products > div>div>div h5 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 600;
}
.products .invoice-financing{
    background-image: url('../images/invoice-financing.png');
}
.products .merchant-credit-line {
    background-image: url('../images/merchant-credit-line-1.png');
}
.products .growth-capital{
    background-image: url('../images/growth-capital-financing-1.png');
} */

.border-lines{
    padding-top: 35px;
}
.border-lines:after{
    position: absolute;
    content: "";
    width: 1px;
    height: 60%;
    /*background: rgb(33,55,70,.15);*/
    background: #ccc;
    right: 15px;
    top: 45px;
    /*box-shadow: 220px 0 0 0 black;*/
}
.border-lines:nth-child(3n):after,.border-lines:nth-last-child(2):before,
.border-lines:nth-last-child(1):before,.border-lines:nth-last-child(3):before{
    background: none;
}

.border-lines:before{
    position: absolute;
    content: "";
    height: 1px;
    width: 60%;
    /*background: rgb(33,55,70,.15);*/
    background: #ccc;
    left: 15%;
    bottom: 0;
    /*box-shadow: 0 120px 0 0 black;*/
}
.business-financing >div>div>div>div>p{
    color: rgba(64, 64, 64, 0.9);
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.connect-around {
    border-radius: 9.5px;
    box-shadow: 0px -2px 7.6px 0.4px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}
.connect-around img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: auto;
  height: 35px;
}
.connect-around img:hover {
    filter: none;
    -webkit-filter: none;
}
.connect-around ul {
    margin-bottom: 0;
}
/*testimonial carousel*/
.pt-75{ 
    padding-top: 75px;
 }
.testimonial .carousel{
    background: url(../images/testimonials-bg.png) no-repeat;
    /*background-size: 100% 100%;*/
    background-size: cover;
}

.testimonial-inner .carousel{
    background: url(../images/testimonials-bg-inner.png) no-repeat;
    background-size: 100% 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
}
.carousel-caption h4 {
    font-family: 'Work Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
}
.carousel-item {
  height: 36rem;
}
.carousel-item > img {
    position: absolute;
    left: 15%;
    width: 25%;
    bottom: 45px;
}
.carousel-indicators{
    left: 25%;
}
.carousel-indicators li{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #30e7ae;
    margin: 0 10px;
}
.carousel-indicators li.active{
    height: 8px;
    width: 8px;
    margin: -2.5px 10px;
}

/*learn more*/
.learn-more{
    background-image: url('../images/learn-more.png');
    background-size: 100% 100%;
    min-height: 550px;
}
.learn-more ul li{
    list-style: none;
}
/*connect with us*/
.connect-with-us img{
    width: 22px;
    margin-right: 20px;
}
.form-box {
    border: none;
    box-shadow: 0 2px 5px 2px rgba(32, 77, 179, 0.08);
    margin-right: 40%
}
#floating-label .form-control {
    align-self: flex-end;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #a2a2a2;
    padding-left: 0;
    font-size: 13px;
    color: rgba(64, 64, 64, 0.75);
    padding-right: 0;
}

.align-or {
    padding-top: 7%;
}
/*contact form */
.connect-with-us form button{
    width: 94%;
    margin: 5% 3%;
}
#floating-label .form-group {
    display: flex;
    height: 50px;
}

#floating-label .control-label {
    font-size: 14px;
    font-weight: 400;
    color: rgba(64, 64, 64, 0.75);
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

#floating-label .form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.75);
}



#floating-label .form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

#floating-label .form-control:focus::-webkit-input-placeholder {
    transition: none;
}

#floating-label .form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}
/* Footer */

.footer {
    background-image: url('../images/bg-footer.png');
    background-size: 100% 100%;
  min-height: 550px;
   margin-top: -100px;
}
.footer-menu {
    border-top: 1px solid rgba(255, 255, 255, .2);
}
.footer-menu h6 {
    letter-spacing: -0.2px;
}
.footer-menu li {
    letter-spacing: 0.5px;
}
.footer-menu ul li, .policies-social .policies li {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.social-icons li {
    display: inline-block;
}
.learn-more a, .footer a {
    color: #fff;
}
.footer h4 {
    text-transform: uppercase;
    font-family: 'Work Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 100px;
    letter-spacing: -0.2px;
}
.footer .client-logos li img {
    width: 11%;
}
.footer .client-logos li.logo-tc img {
    width: 18%
}
.footer .client-logos li.logo-bi img {
    width:13%;
}
.copyright {
    background-color: #032a73;
    font-size: 0.875rem;
   letter-spacing: -0.2px;
}
.social-icons a img {
    height: 18px;
    width: auto;
}
.social-icons a.mail-icon img {
    height: 13px;
}
.social-icons a:hover {
    opacity: 0.6;
}
.policies-social .policies li:after {
    content: " | ";
    padding: 0 15px;
    opacity: 0.35;
}
.policies-social .policies li:last-child:after {
    content: " ";
}
.policies-social .policies li {
    font-size: 0.75rem;
    letter-spacing: 0.4px;
}
/***** responsive *****/

@media only screen and (max-width: 991px) {
    
}
@media only screen and (max-width: 767px) {
    
    .learn-more{
        background-image: url('../images/learn-more-responsive.png');
        /*background-size: cover;*/
        background-position: bottom;
        min-height: 880px;
    }
    .index-testimonial .testimonial .carousel{
        background-image: url(../images/testimonial-responsive-bg.png);
        /*background-size: cover;*/
        background-position: bottom;
        min-height: 650px;
    }
    .comparison p {
        width: 100%;
    }
} 
@media only screen and (max-width: 565px) {
	
    .home-banner h2 {
        font-size: 1.75rem;
    }
    .got-questions, .play-video {
        padding-top: 40px;
    }
    .play-video img {height: 50px;}
    
    .got-questions a {
        text-transform: uppercase;
        font-size: 0.875rem
    }
    .turn-cash img, .turn-cash p {
        float: left;
    }
	 .carousel-caption h4 {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .font-3 {
        font-size: 1.25rem;
    }
    .carousel-item {
        /*width: 72%;*/
    }
    .carousel-indicators {
        margin-left:0;
    }
    .policies-social .policies li:after {
        padding: 0 10px;
    }
    .connect-around  {
        background-color: transparent;
        box-shadow: none;
    }
    .connect-around ul li {
       float: left;
        width: 100%;
        text-align: center;
    }
    .connect-with-us .form-box {
        margin-right: 0;
    }
   
    .connect-with-us form button{
        width: 30%;
    }
    .footer .client-logos li img {
        width: 21%;
    }
    .footer .client-logos li.logo-tc img {
        width: 28%
    }
    .footer .client-logos li.logo-bi img {
        width:23%;
    }
    .footer .client-logos li.logo-inc img {
        width:18%;
    }
    .ico-bus-fin {
        float: left;
        width: 25%
    }
    .ico-bus-fin img {
        height: 34px;
    }
    .sub-content {
        width: 75%;
        float: left;
    }
    .sub-content h5, .affordable-rates >div>div>div>h5 {
        font-size: 1rem;
    }
    .sub-content p {
        margin-bottom: 0;
        font-size: 0.875rem;
        line-height: 20px;
    }
    .border-lines:after {
        width: 0;
    }
    .border-lines:before {
        height: 0;
    }
    .affordable-rates >div>div>div>p {
        font-size: 14px;
    }
    .affordable-rates >div>div>div>img {
        height: 36px;
    }
    .top-fold {
        min-height: 650px !important;
    }
    .learn-more{
        background-image: url('../images/learn-more-responsive.png');
        background-size: cover;
        background-position: bottom;
        min-height: 880px;
    }
    .learn-more ul li {
        text-decoration: underline;
    }
    .receivable-fin-test.testimonial .carousel{
        background-image: url(../images/bg-quote-icon.png);
        background-size: cover;
    }
    .pt-7 {
        padding-top: 5rem;
    }
} 



.hamburger {
    display: inline-block;
    padding: 0;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #fff; }
  
  .hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative; }
    
    .hamburger-box:focus, .navbar-toggler:focus {
        outline: none;
    }
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 30px;
      height: 2px;
      background-color: #fff;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
  
  /*
     * Collapse
     */
  .hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--collapse .hamburger-inner::after {
      top: -20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
    .hamburger--collapse .hamburger-inner::before {
      transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--collapse.is-active .hamburger-inner::after {
      top: 0;
      opacity: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
    .hamburger--collapse.is-active .hamburger-inner::before {
      top: 0;
      transform: rotate(-90deg);
      transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); 
    }

    .arrow {
        margin: 1em;
      }
      
      .arrow::before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: .5em solid transparent;
        border-left-color: gray;
        transform-origin: 0 50%;
        transition: transform .25s;
      }
      
      .arrow.down::before {
        transform: rotate(90deg);
        transition: transform .25s;
      }
  
     
.products .p-web h5,.products .p-web p{
    padding-left: 15%;
    width: 85%;
}
.products >.p-web >div{
    /*background-size: contain;*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 485px;
}
.products > .p-web>div>p{
    font-size: 14px;
}
.products >.p-web >div:first-child{
    background-image: url('../images/invoice-financing.png');
    
}
.products >.p-web >div:nth-child(2){
    background-image: url('../images/merchant-credit-line-1.png');
}
.products >.p-web >div:last-child{
    background-image: url('../images/growth-capital-financing-1.png');
}

#accordion {
    width: 90%;
    margin: 0 auto;
}

#accordion .card{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    border: none;
}
#accordion .card-body{
    padding-left: 30px;
    padding-right: 30px;
}
#accordion .card .card-header{
    border-bottom: none;
}
#accordion .card .card-header button{
    background-image: url('../images/icons/dropdown-icon-invoice-financing-up.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    background-size: 20px;
    width: 90%;
    padding: 20px 10px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); 
}
#accordion .card .card-header button.collapsed{
    background-image: url('../images/icons/dropdown-icon-invoice-down.png');
}
#accordion .card img{
    width: 45px;

}

.rounded-number{
    -webkit-border-radius: 22px !important;
    -moz-border-radius: 22px !important;
    -ms-border-radius: 22px !important;
    border-radius: 22px !important;
    background: #0450e0;
    line-height: 24px;
    height: 24px;
    width: 24px;
    color: #fff;
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
}
.card-h-i-w-odd:after,.card-h-i-w-even:after{
    content: '';
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    height: 17%;
    position: absolute;
    z-index: -1;
    
}
.card-h-i-w-odd:after{
    background-image: url(../images/1-2-dotted-line.png);
    top: -15px;
}
.card-h-i-w-even:after{
    background-image: url(../images/2-3-dotted-line-copy.png);
    top: 10px;
}
.card-h-i-w-odd .ico-middle img{
    position: absolute;
    right: -13px;
    top: -25px;
    width: 25px;
}
.card-h-i-w-even .ico-middle img{
    position: absolute;
    right: -13px;
    top: 28px;
    width: 25px;
}

/*apply for business funds*/
.apply-for-business .card{
    background-image: url('../images/shape-web.png');
    width: 95%;
    margin: auto;
    background-repeat: no-repeat; 
    background-position: right;
    box-shadow: 0 0 8.6px 0.5px rgba(0, 0, 0, 0.15);
    /*margin-top: -130px;*/
    margin-top: -80px;
}
.apply-for-business .card .card-body{
    padding: 3.5rem 4.25rem;
}

/*Things you need to get started*/

.things-know {
    /*margin-top: -225px;*/
}
.things-know .card{
    background-image: linear-gradient(to bottom, #1281c7, rgba(4, 80, 224, 0.71) 59%, rgba(34, 55, 69, 0.5));
    width: 90%;
    margin: auto;
}

.things-know .card .card-body{
    padding: 2rem 3rem .5rem 3rem; 
}


/*explore*/    
.explore-financing .card .card-body p span{
    font-size: 14px;
    color: rgba(64, 64, 64, 0.9);
}
.explore-financing .card{
    box-shadow: 0 0 8.6px 0.5px rgba(0, 0, 0, 0.15);
    
}
.explore-financing >div > div > div:last-child .card:before{
    background-image: url(../images/icons/right-arrow-icon.png);
    right: 10px;
}
.explore-financing >div > div > div:first-child .card:before{
    background-image: url(../images/icons/left-arrow-icon.png);
    left: 29px;
}
.explore-financing >div > div > div .card:before{
    content: '';
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    
    top: 34px;
}
.explore-financing >div > div{ width: 93%;margin: auto; }
.explore-financing >div > div > div:first-child .card{
    border-image: linear-gradient(to right, #158ec1 , #1ba3b6 100%) 0% 1 100% 1/7;
}
.explore-financing >div > div > div:last-child .card{
    border-image: linear-gradient(to right, #032a73 , #0450e0 100%) 0% 1 100% 1/7;
}
.explore-financing .card .card-body{
    padding: 2rem 2rem 1rem 3rem;
}
/*your queries*/
.your-queries #accordion {
    width: 100%;
    margin: 0 auto;
}
.btn:focus,button:focus{
    outline: none;border: none;box-shadow: none;
}
.your-queries #accordion .card-header div{
    background-image: url(../images/icons/dropdown.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: center;
    background-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        cursor: pointer;
}

.your-queries #accordion .card-header div p{
    width: 90%;
    margin-bottom: 0;
}
.your-queries #accordion .card-header button.collapsed{
    background-image: url(../images/icons/dropdown.png);
}
.your-queries #accordion ol li span{
    font-size: .7rem;
}
.your-queries #accordion ol li div{
    margin-left: -20px;
}
.your-queries #accordion ol li div img{
    border-radius: 50%;
    margin-right: 30px;
} 
/*media query*/

@media only screen and (max-width: 767px) {
    .things-know .card .card-body > div>div{
        display: flex;
        align-items: center;
        text-align: left !important;
    }
    .things-know .card .card-body h6{
        font-size: 1.2rem;
    }
    .things-know .card .card-body > div>div img{
        margin-right: 15px;
    }
    .card-h-i-w-odd .ico-middle img,
    .card-h-i-w-even .ico-middle img{
        bottom: 18%;
        top: inherit;
        right: inherit;
       /* width: 30px;*/
    }
    .how-it-works >div > div > div {
        text-align: left !important;
    }
    .how-it-works >div > div > div > .r-section h5.pt-5{
        padding-top: 0 !important;
    }
    .r-section{
        padding-left: 15%;
        text-align: center;
        margin-top: -25px;
        margin-bottom: 55px;
    }
    
    .card-h-i-w-odd:after,.card-h-i-w-even:after{
        display: none;
    }
    .card-h-i-w-odd,.card-h-i-w-even{
        text-align: left !important;
    }
    .rounded-number:after{
        content: "";
        background-image: url('../images/2-3-dotted-line.png');
        background-repeat: no-repeat;
        width: 12px;
        background-size: contain;
        height: 100%;
        position: absolute;
        margin-left: -3px;
        z-index: -6;
    }
    .how-it-works >div > div > div:last-child >.rounded-number:after{
       background-image:none; 
    }

    .apply-for-business .card .card-body{
        text-align: center;
    }
    .apply-for-business .card{
        background-image: url(../images/shape-mobile.png);
        background-position-x: right;
        background-position-y: bottom;
        background-size: contain;
    }
}

.access-to-more {
    background: url(../images/bg-access.png) no-repeat;
    background-size: cover;
    /*min-height: 940px;*/
}


.affordableRates p, .comparison p, .applie p, .sourceSans {
    /*font-size: 0.9rem;*/
    color: rgba(64, 64, 64, 0.9);
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
 .comparison .colum3 {
     background: #f9fcff;  
     font-size: 1.1rem;
     font-family: 'Work Sans';
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.29;
     letter-spacing: -0.3px;
     text-align: left;
     color: #223745;
     padding-top: 3.5% !important;
 }
 .comparison .row:nth-child(1) .colum3{
     background: none;
 }
 .comparison .row:nth-child(1) .colum4:nth-child(3){
     border-top-right-radius: 6px;
     /*padding-top: 2.5%;
     padding-bottom: 2.5%;*/
 }
 .product-comparison .home-banner h2 {
        width: 36rem;
 }
 .product-comparison .home-banner div>div>p {
    width: 36rem;
 }
 .blueBg {
     background: #0450e0;
 }
 .LtblueBg {
     background: #1ba3b6;
 }
 
 .comparison .row:nth-child(1) .colum4:nth-child(3)::before {
     content: '';
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     box-shadow: 0 15px 0 #fff, 0px 0px 20px 0px rgba(4, 80, 224, 1);
     border-top-right-radius:6px;
     border-top-left-radius: 6px;
 }
 .comparison .row:nth-child(2) .colum4:nth-child(3)::before, .comparison .row:nth-child(3) .colum4:nth-child(3)::before, .comparison .row:nth-child(4) .colum4:nth-child(3)::before, .comparison .row:nth-child(5) .colum4:nth-child(3)::before {
     content: '';
     height: 101%;
     width: 5%;
     position: absolute;
     top: 0;
     left: -5%;
     box-shadow: -15px 0 15px -12px rgba(4, 80, 224, 0.2) inset;
 }
 .comparison .row:nth-child(2) .colum4:nth-child(3)::after, .comparison .row:nth-child(3) .colum4:nth-child(3)::after, .comparison .row:nth-child(4) .colum4:nth-child(3)::after, .comparison .row:nth-child(5) .colum4:nth-child(3)::after{
     content: '';
     height: 100%;
     width: 5%;
     position: absolute;
     top: 0;
     right: -5%;
     box-shadow: 15px 0 15px -12px rgba(4, 80, 224, 0.2) inset;
 }
 .comparison .row:nth-child(6) .colum4:nth-child(3)::before {
     content: '';
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     box-shadow: 0 -15px 0 #fff, 0px 0px 15px 0px rgba(4, 80, 224, 0.5);
     border-bottom-right-radius:6px;
 }
 .comparison .row:nth-child(6) .colum4:nth-child(3)::after {
     content: '';
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     border-top: 1px solid #a9cff6;
 }
 .comparison .row:nth-child(2) .colum3, .comparison .row:nth-child(1) .colum4{
     border-top-left-radius: 6px;
 }
 .comparison .row:nth-child(6) .colum3{
     border-bottom-left-radius: 6px;
 }
 .comparison .row:nth-child(6) .colum4:nth-child(3){
     border-bottom-right-radius: 6px;
 }
 .comparison .colum3, .comparison .colum4 {
     border-color: #a9cff6 !important;
 }
 .comparison .row:nth-child(1) .colum4:nth-child(2), .brown{
     background: #404040;
     border: none;
 }
 .blue {
     background: #0450e0;
     border: none;
 }
 
 .comparison .row:nth-child(5) .colum4:nth-child(3)::before {
     content: '';
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     box-shadow: 0 -15px 0 #fff, 0px 0px 15px 0px rgba(4, 80, 224, 0.5);
     border-bottom-right-radius:6px;
 }
 .comparison .row:nth-child(5) .colum4:nth-child(3)::after {
     content: '';
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     border-top: 1px solid #a9cff6;
     box-shadow: none;
 }
 .bg-blue {
     background: url(../images/bg-blue.png) no-repeat;
     min-height: 260px;
     background-size: 100% 100%;
 }
 

 
/*products acordion effect*/
.accordian {
    width: 100%;
    /*height: 320px;*/
    overflow: hidden;
    margin: 100px auto;
   /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);*/
}

.accordian ul {
    /*width: 1200px;*/
    width: 100%;
    padding-left: 0;
}

.accordian li {
    position: relative;
    display: block;
    width: 33.333%;
    min-height: 485px;
    float: left;
    
    /*border-left: 1px solid #888;
    
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);*/
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

    
}
.accordian li .sizing-div{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*min-height: 485px;*/
    min-height: 611px;
        float: left;
}
.accordian li .outer{
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.accordian ul li:first-child .sizing-div{
    background-image: url(../images/invoice-financing.png);
}
.accordian ul li:nth-child(2) .sizing-div{
    background-image: url(../images/merchant-credit-line-1.png);
}
.accordian ul li:last-child .sizing-div{
    background-image: url(../images/growth-capital-financing-1.png);
}

.sizing-div h5{
    padding-left: 50px;
    padding-top: 15px;
}
.sizing-div p{
    padding-left: 50px;
}
.outer #accordion .card .card-header button{
    border-bottom: none;
    background-image: none;
    padding: 10px 10px 0 25px;
        margin: 0 !important;
}
.accordian ul li:hover .outer .sizing-div h5,
.accordian ul li:hover .outer .sizing-div p{
    display: none;
}
/*.accordian ul li:hover .outer .sizing-div,.accordian ul li:hover .outer #accordion{
    width: 50%;
}*/
/*.outer #accordion .card img{
    width: 32px;
}
.outer #accordion .card-body p span{
    font-size: 14px;
}*/
.outer #accordion .card{
    box-shadow: none;
}
.accordian .outer #accordion{
   /* width: 950px;*/
}
/*.accordian li .sizing-div:hover{
    width: 50%;
}*/
.accordian ul:hover li {width: 15%;}
.accordian ul li:hover {width: 70%;}

.accordian li .sizing-div p{
    width: 70%;
}
.accordian li img {
    display: block;
}

.image_title {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0; bottom: 0; 
width: 640px;   

}
.image_title a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
}
/*slider  connect*/
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
   /* width: 100%;*/
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    /*width: 60px;*/
    height: 25px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.slick-slide img:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*menubar down arrow*/
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

header.sticky-head{
        /*position: fixed;*/
        top: 0;
        background-color: rgba(0,102,191,0.99);
        width: 100%;
    }
@media only screen and (max-width: 991px) {
    #accordion {
        width: 90%;
        margin: auto;
    }
    header{
        padding: 0 !important;
    }
    header nav.container{ max-width: 100%; }
    header .dropdown-toggle::after{
        position: absolute;
        right: 0;
    }
    header .navbar .navbar-collapse{
        position: absolute;
        background-color: rgb(0, 102, 191);
        width: 100%;
        top: 57px;
        z-index: 3;
        padding: 15px;
        left: 0;
		top: 0;
		bottom: 0;
		height: 100vh;
		left: 0;
		left: 100%;
		transition: 1s;
    }
    
}
/*latest 02-01-19 */
.carousel-indicators{
    bottom: 20px;
}
.receivable-fin-test .carousel-caption {
    bottom: 7rem;
}
.receivable-fin-test .carousel-item > img {
    /*left: 22%;
    width: 20%;
    bottom: 41px;*/
	left: 5.5%;
    width: 30%;
    bottom: 47.5px;
}
.receivable-fin-test .carousel-caption{
    left: 18%;
}
.things-know .card{
    background-image: linear-gradient(to bottom, #1281c7, rgba(4, 80, 224, 1) 59%, rgba(34, 55, 69, 0.9));
    border: none;
}
.btn-gradient3{
    background-image: linear-gradient(to right, #1ba3b6, #0450e0);
    padding: 10px 40px !important;
}
@media only screen and (max-width: 767px){

    .product-comparison .home-banner h2 {
        width: 23rem;
 }
 .product-comparison .home-banner div>div>p {
    width: 22rem;
 }
    .learn-more {
        background-size: 100% 100% !important;
        min-height: 550px;
    }
    .bg-blue{
        background-image: url('../images/bg-getfunded.png');
    }

    /*03-01-19*/
    .growth-capital-financing .comparison .container{
        overflow-x: scroll;
        white-space: nowrap;}
    .growth-capital-financing .comparison .row{
        
        /*display: block;*/
        width: 900px;}
    .growth-capital-financing .comparison .container .container .colum4{
         display: inline-block;
         width: 300px;
         white-space: initial; }

         .index-testimonial.testimonial .carousel{
            background-image: url(../images/testimonial-responsive-bg.png);
            background-size: cover;
            background-position: bottom;
            min-height: 650px;
        }
    }
@media only screen and (max-width: 565px){
    .carousel-indicators {
        margin-left: 0;
        bottom: 40px;
    }
    
    .learn-more{
        min-height: 720px;
        background-size: 100% 100%;
    }
    /*.carousel-caption{
        bottom: 0;
    }*/
    .receivable-fin-test .carousel-caption {
        bottom: 4rem;
    }
    .apply-for-business .card .card-body {
        padding: 3.5rem 2.25rem;
    }
}


/*merchant credit line*/
@media only screen and (min-width: 767px){

    .merchant-credit-line .card-h-i-w-even .ico-middle img{
        top: 10px;
    }
    .merchant-credit-line .card-h-i-w-odd .ico-middle img{
        top: -35px;
    }
}
.merchant-credit-line .rounded-number{
    background-color: #1ba3b6;
}

.merchant-credit-line .comparison .row:nth-child(1) .colum4:nth-child(3)::before{
    box-shadow: 0 15px 0 #fff, 0px 0px 20px 0px rgba(4, 80, 224, 1);
}

/*growth-capital-financing*/

.growth-capital-financing .rounded-number{
    background-color: #032a73;
}
.growth-capital-financing .comparison .row:nth-child(1) .colum4:nth-child(1), .brown ,
.growth-capital-financing .comparison .row:nth-child(1) .colum4:nth-child(3), .brown{
    background: #404040;
    border: none;
}
.growth-capital-financing .comparison .row:nth-child(1) .colum4:nth-child(2), .brown {
    background: #032a73;
    border: none;
}
.growth-capital-financing .comparison .row:nth-child(1) .colum4:nth-child(3) {
    border-top-right-radius: 6px;
    border-top-left-radius: 0;
}
.growth-capital-financing .comparison .row:nth-child(1) .colum4:nth-child(1){
    border-top-right-radius: 0;

}
.growth-capital-financing .comparison .row:nth-child(1) .colum4{
    border-top-right-radius: 6px;

}

.growth-capital-financing .comparison .row:nth-child(1) .colum4:nth-child(3)::before,
.growth-capital-financing .comparison .row:nth-child(2) .colum4:nth-child(3)::before,
.growth-capital-financing .comparison .row:nth-child(3) .colum4:nth-child(3)::before,
.growth-capital-financing .comparison .row:nth-child(4) .colum4:nth-child(3)::before,
.growth-capital-financing .comparison .row:nth-child(5) .colum4:nth-child(3)::before,
.growth-capital-financing .comparison .row:nth-child(2) .colum4:nth-child(3)::after,
.growth-capital-financing .comparison .row:nth-child(3) .colum4:nth-child(3)::after,
.growth-capital-financing .comparison .row:nth-child(4) .colum4:nth-child(3)::after,
.growth-capital-financing .comparison .row:nth-child(5) .colum4:nth-child(3)::after,
.growth-capital-financing .comparison .row:nth-child(6) .colum4:nth-child(3)::after{
    box-shadow: none;
}
.growth-capital-financing .comparison .row:nth-child(2) .colum4:nth-child(2)::before,
.growth-capital-financing .comparison .row:nth-child(3) .colum4:nth-child(2)::before,
.growth-capital-financing .comparison .row:nth-child(4) .colum4:nth-child(2)::before,
.growth-capital-financing .comparison .row:nth-child(5) .colum4:nth-child(2)::before,
.growth-capital-financing .comparison .row:nth-child(6) .colum4:nth-child(2)::before,
.growth-capital-financing .comparison .row:nth-child(7) .colum4:nth-child(2)::before{
    content: '';
    height: 101%;
    width: 5%;
    position: absolute;
    top: 0;
    left: -5%;
    box-shadow: -15px 0 15px -12px rgba(4, 80, 224, 0.2) inset;
}
.growth-capital-financing .comparison .row:nth-child(2) .colum4:nth-child(2)::after,
.growth-capital-financing .comparison .row:nth-child(3) .colum4:nth-child(2)::after,
.growth-capital-financing .comparison .row:nth-child(4) .colum4:nth-child(2)::after,
.growth-capital-financing .comparison .row:nth-child(5) .colum4:nth-child(2)::after,
.growth-capital-financing .comparison .row:nth-child(6) .colum4:nth-child(2)::after,
.growth-capital-financing .comparison .row:nth-child(7) .colum4:nth-child(2)::after{
    content: '';
    height: 101%;
    width: 5%;
    position: absolute;
    top: 0;
    box-shadow: 4px 2px 10px 0px rgba(4, 80, 224, 0.12);
    right: 0;
}
.home-banner h2{
    width: 26rem;
}
.home-banner div>div>p{
    width: 23rem;
}
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background: url(../images/icons/loader.gif) no-repeat center center #fff;
}
.carousel-control-prev, .carousel-control-next{
    opacity: 1;
}
.testimonial .carousel-indicators{
    bottom: 2rem;
}
.testimonial .carousel .carousel-item .carousel-caption{
    bottom: 5rem;
    width: 40%;
    right: 15rem;
    left: inherit;
}
.carousel-control-prev{
    left: 40px;
}
.carousel-control-next{
    right: 35px;
}
@media only screen and (max-width: 1024px){
    .testimonial .carousel .carousel-item .carousel-caption{
        /*bottom: 5rem;
        width: 40%;*/
        right: 10rem;
    }
    .slick-slide img
        {
            display: block;
            width: 60px;
            /*height: 25px;*/
        }

}
@media only screen and (max-width: 991px){
    .testimonial .carousel .carousel-item > img{
        display: none !important;
    }
    .testimonial .carousel .carousel-item .carousel-caption{
        width: 50%;

    }
}
@media only screen and (min-width: 767px){
    .home-banner {
        /*padding-top: 205px;*/
        padding-top: 13rem;
    }
    .home-banner.product-banner {
        padding-top: 9rem;
    }
    .w-45{
        width: 45rem;
    }
}

@media only screen and (max-width: 565px){
    #load{
        background-size:20%;
    }
    .home-banner h2{
        width: auto;
    }
    .home-banner div>div>p{
        width: auto;
    }
    .navbar-brand img {
        width:70%;
    }
    .home-banner.product-banner {
        padding-top: 6rem;
    }
    .testimonial .carousel .carousel-item .carousel-caption {
        width: 50%;
        /*width: 70%;
        left: 15%;*/
        width: 62%;
        left: 18%;
    }
    .carousel-control-prev{
        left: 0;
    }
        .carousel-control-next{
        right: 0;
    }
    .testimonial .carousel-indicators{
        bottom: 3.5rem;
    }
    .explore-financing >div > div > div:first-child .card:before, .explore-financing >div > div > div:last-child .card:before {
        display: none;
    }
}

/*04-01*/
.dropdown-menu {
    background-color: rgba(0,102,191);
}
.affordable-rates .card .card-body{
    padding: 2.5rem 1.25rem;
}

.connect-with-us >div > div> div > h6 {
    margin-top: 30px;
}

.growth-capital-financing .carousel-control-prev .carousel-control-prev-icon{
    background-image: url(../images/icons/arrow-left.png);
}
.growth-capital-financing .carousel-control-next .carousel-control-next-icon{
    background-image: url(../images/icons/arrow-right.png);
}
@media only screen and (max-width: 767px){
   .connect-with-us >div > div> div > h6 {
        margin-top: 0;
    } 
    .get-started h3, .get-started p {
        text-align: center !important
    }
    .bg-blue {
        background-size: cover;
    }
}


/*07-01-19*/
.accordian li .sizing-div p{
    /*font-size: 14px;*/
}
.accordian ul li .outer #accordion .card .collapse .card-body p:nth-child(2){
    color: rgba(64, 64, 64, 0.9);
    /*font-size: 14px;*/
}

.business-financing >div>div>div>div>p{
    /*font-size: 14px;*/
    margin-bottom: 30px;
}


header.sticky-head{
   animation: smoothScroll 1s forwards;
       z-index: 1000;
       background-color: #fff;
    border-bottom: 1px solid #c8d1d8;
    
}
header.sticky-head ul li a, header.sticky-head .navbar-light .navbar-nav .nav-link{
    color: #223745 !important;
}
header.sticky-head .dropdown-toggle::after {
    border-color:#223745 !important;
}
header.sticky-head ul li a:last-child{
    color: #fff !important;
}
.fixedheadlogo{
    display: none;

}
header.sticky-head .hamburger-inner,
header.sticky-head .hamburger-inner::before,
header.sticky-head .hamburger-inner::after{
    background-color: #223745 !important;  
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(0px);
    }
}
@media only screen and (max-width: 767px) {
    .business-financing >div>div>div>div>p{
        margin-bottom: 10px;
    }
}

/**/
.growth-capital-financing .testimonial-inner .carousel{
    background: url(../images/bg-image-quote-bg-growth.png) no-repeat;
    background-size: 100% 100%;
}
.receivable-financing .testimonial-inner .carousel{
    background: url(../images/bg-image-quote-bg-receiv.png) no-repeat;
    background-size: 100% 100%;
}
.merchant-credit-line .testimonial-inner .carousel{
    background: url(../images/bg-image-quote-bg-merchat.png) no-repeat;
    background-size: 100% 100%;
}
.merchant-credit-line .top-fold.product-fold{
    background: url(../images/banner_bg_laptop.png) no-repeat;
    background-size: cover;
    min-height: 760px;
}
@media only screen and (max-width: 565px){
    .growth-capital-financing .testimonial-inner .carousel{
        background: url(../images/bg-quote-icon-growth.png) no-repeat;
        background-size: 100% 100%;
    }
    .receivable-financing .testimonial-inner .carousel{
        background: url(../images/bg-quote-icon-receiv.png) no-repeat;
        background-size: 100% 100%;
    }
    .merchant-credit-line .testimonial-inner .carousel{
        background: url(../images/bg-quote-icon-merchat.png) no-repeat;
        background-size: 100% 100%;
    }
}

/*success stories 08-01-19  */
.success-stories .home-banner h2{
    width: auto;
}
.success-stories .home-banner div>div>p {
    width: auto;
}
.success-stories .top-fold{
    background: url(../images/_success_stories_bg.png) no-repeat top;
    background-size: 100% 100%;
    min-height: 500px !important;
    background-color: whitesmoke;
}
.success-stories .say-about-finaxar {
    background: url(../images/bg-hear-what.png) no-repeat top;
    background-size: 100% 100%;

}
.say-about-finaxar h3{
    margin-top: 0 !important;
}
.say-about-finaxar .card-img-top{
    width: 30%;
}
.say-about-finaxar >div >div{
        padding-bottom: 5rem;
}
.say-about-finaxar .card-title span{
    display: block;
    font-size: .8rem;
}
.say-about-finaxar .card-body p:nth-child(3){
    font-size: .9rem;
}
.say-about-finaxar .card-body{
    padding:2rem 3rem 1rem 3rem;
}
.say-about-finaxar .card a.btn-primary{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.expand-more .img-bg{
    text-align: left;
}
.truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.expand-more .img-bg img{
    width: 25%;
    margin-left: 25%;
}
.read-more-content{
    display: none;
}
.expand-more .read-more-content{
    display: block !important;
}
.img-bg{
    background-color: #e9ebec;
    text-align: center;
    padding-top: 25px;
}

.card-img-bottom1{
    background: url(../images/learn-more-case1.jpg) no-repeat;
}
.card-img-bottom2{
    background: url(../images/learn-more-case2.jpg) no-repeat;
}
.card-img-bottom1,.card-img-bottom2 {
    height: 13rem;
    /*background-size: contain;*/
        background-size: 100% 100%;
}
.learn-more-case-studies .card{
    padding: 1rem;
    border: none;
    box-shadow: 0px 2px 28.5px 1.5px rgba(0, 0, 0, 0.05);
}
.learn-more-case-studies .card,.learm-more-business-fin .row{
    width: 80%;
    margin: auto;
}
.learm-more-business-fin .card{
    border-radius: 5px;
    box-shadow: 0px 2px 28.5px 1.5px rgba(0, 0, 0, 0.05);
}
.learm-more-business-fin .card .card-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}
.learm-more-business-fin .card .card-body p{
    color: rgba(34, 55, 69, 0.9);
    font-size: .9rem;
    margin: .6rem 0 1.5rem 0;
}
.learm-more-business-fin .card h6{
        width: 16rem;
}
.our-partners >div >div> div> p{
    margin-bottom: 4rem;
}
.our-partners >div >div> div> img{
    height: 50px;
}
.embark-on-a-partnership .card{
    width: 80%;
    margin: auto;
    text-align: center;
    box-shadow: 0px 1px 10.4px 2.6px rgba(32, 77, 179, 0.08);
    border:none;
}
.close-icon img{
    width: 22px;
    position: absolute;
    right: 15px;
    top: 10px;
    display: none;
    cursor: pointer;
}
.embark-on-a-partnership .card .card-body{
    padding: 2.5rem 4rem 2.5rem 4rem;
} 
.embark-on-a-partnership .card .card-body p{
    width: 60%;
    margin: 1.5rem auto;
}  
 
@media only screen and (max-width: 767px){
    .learm-more-business-fin >div >div >div{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .learn-more-case-studies .card a{
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        border-radius: 0 !important;
    }
    .learn-more-case-studies .card-block p{
        padding-bottom: 25px;
    }
    .learn-more-case-studies .card, .learm-more-business-fin .row{
        width: 100%;
    }
    .learm-more-business-fin .container,.learn-more-case-studies .container,
    .say-about-finaxar .container >div >div{
        padding-right: 0;
        padding-left: 0;
    }
    .card-img-bottom1, .card-img-bottom2{
        background-size: 100%;
    }
    .embark-on-a-partnership .card .card-body{
        padding: 25px;
    }
    .embark-on-a-partnership .card .card-body p{
        width: auto;
    }
}
@media only screen and (min-width: 767px){
    .success-stories .home-banner {
        padding-top: 8rem;
    }
    
}
@media only screen and (max-width: 565px){
 
}
.top-fold.product-comparison.factoring{ min-height: 63px;}

.content-list ul li::before{
    content: "\2022";
    color: #044fdd;
    font-weight: bold;
    width: 3px;
    height: 3px;
    padding-right: 10px
  }

  .content-list ol li::before{
    content: counter(li);
    color: #044fdd;
    font-weight: bold;
    width: 3px;
    height: 3px;
    padding-right: 10px
  }

  .content-list ol {list-style: none; counter-reset: li}
  .content-list li {counter-increment: li}
  .content-list p, .page-content { 
      line-height: 1.5rem;
  }
.ul-li li:before{position: absolute;}
  .bg-light-blue {
      background-color: #f9fcff;
  }
  .learnmore-withoutbg ul li a.active{ color:rgba(64, 64, 64, 0.5);}
  @media screen and (min-width: 320px) and (max-width: 567px) {
    .top-fold.product-comparison.factoring {
        min-height: 63px !important;
    }
    h2{font-size: 1.5rem;}
  }