body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
header{
left: 0;
right: 0;
z-index: 9999999;
}
.fw-100{font-weight:100;}
.fw-200{font-weight:200;}
.fw-300{font-weight:300;}
.fw-400{font-weight:400;}
.fw-500{font-weight:500;}

.header-fixed {
	background-color:#fff;
	  box-shadow:0 3px 6px rgba(204,204,204, .5);
}
.navbar-light .navbar-toggler {box-shadow:none; padding-right:0; margin-right:0}

.navbar-brand img{width:140px;}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/wp-content/themes/capitalfloat/images/cf-loader.gif') 50% 50% no-repeat rgb(255,255,255);
}

.navbar-toggler {
/*     border-color: rgb(255,255,255) !important; */
	border:0 !important;
	box-shadow:unset;
}
.navbar-dark .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(68,87,99, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler-icon:focus, .navbar-toggler:focus{
	box-shadow:unset;
	outline:none;
}

/********** Generic CSS starts **********/
.ls-08
{
  letter-spacing: 0.8px;
}
.bg-light-blue-grey
{
    background-color: #c9e9ee;
}
.fw-700
{
  font-weight: bold
}
.fw-800
{
  font-weight: 800;
}
.fc-brand {
	color:#00bfdf
}
.fc-white
{
  color: #fff;
}
.fc-blue
{
  color: #00bfdf;
}
.fc-gray
{
  color: rgba(34, 34, 34, 0.5);
}
.fc-slate
{
  color: #546670;
}
.fc-slate2
{
  color: #556670;
}
.fc-slate-90
{
  color:rgba(84, 102, 112, 0.9);
}
.fs-10
{
  font-size: 10px;
}
.fs-11
{
  font-size: 11px;
}
.fs-12
{
  font-size: 12px;
}
.fs-13
{
  font-size: 13px;
}
.fs-14
{
  font-size: 14px;
}
.fs-15
{
  font-size: 15px;
}
.fs-16
{
  font-size: 16px;
}

.fs-20
{
  font-size: 20px;
}

.fw-600
{
  font-weight: 600;
}
.span-fw-600
{
  font-weight: 600 !important;
}
.lh-24
{
  line-height: 24px;
}
.lh-43
{
  line-height: 43px;
}
.ls-1
{
  letter-spacing: 1px;
}
section h3 
{
  font-weight: bolder;
  font-size: 22px
}
section p 
{
  font-size: 14px;
}
.slick-list .card-text, .dsa-partner .card-text, .repeater-product .card-text{
	font-size: 13px;
}
button, a.btn-apply, .searchform input[type=submit]
{
    border:1px solid #00bfdf;
    background-color: #00bfdf;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 0.8px;
    padding: 10px 30px;
    margin-right: 15px;
    font-weight: 600;
    box-shadow:  0 12px 27px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}
.searchform input[type=submit] {
	padding:5px 20px !important;
	height:46px;
}
.searchform input[type=submit] :hover {
	 background-color: #fff;
	color:#00bfdf
}
a.btn-apply:hover {
	background-color: #fff;
    text-transform: uppercase;
    color:#00bfdf;
    letter-spacing: 0.8px;
	text-decoration:none;
}
.carousel-control-prev-icon, .carousel-control-next-icon{visibility:hidden;}
.header-applynow
{
  border-radius: 2px;
    background: transparent;
    border: 1px solid #fff;
    font-size: 12px;
    box-shadow: unset;
}

.header-applynow:hover
{
  border-radius: 2px;
    background: #00bfdf;
    border: 1px solid #00bfdf;
    font-size: 12px;
    box-shadow: unset;
    /* color: #00bfdf; */
}


.btn-apply
{
    margin-left: 50px;
}

.btn-apply::before
{
  content:" ";
  width: 50px;
  height: 2px;
  background-color:#00bfdf;
  display:inline-block;
  position: absolute;
  left:-50px;
  /* top:22px; */
  top: 50%;
}
button:hover, .btn-cancel
{
    color:#00bfdf;
    background-color: transparent;
    box-shadow: none;
	border:1px solid #fff;
	transition: all .5s ease;
}
.btn-cancel:hover, button:hover
{
    border:1px solid #00bfdf;
}
/********** Generic CSS ends **********/
/********** hamburger **********/

/*#navicon {
	width: 30px;
	height: 40px;
	position: absolute;
    right:0;
    top:-10px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
*/
#navicon{
  width: 30px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
	top:10px
}
.header-fixed #navicon span {
	background:#000;
}
/*#navicon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #c8c9cc;
	border-radius: 3px;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
*/
#navicon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#navicon{
	z-index:9999;
}
#navicon span:nth-child(1) {
  top: 0;
}

#navicon span:nth-child(2) {
  top: 10px;
}

#navicon span:nth-child(3) {
  top: 20px;
}

#navicon.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
	background:#000;
}

#navicon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
	background:#000;
}

#navicon.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
	background:#000;
}

/*
#navicon span:nth-child(1) {
	top: 0;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#navicon span:nth-child(2) {
	top: 10px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#navicon span:nth-child(3) {
	top: 20px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#navicon.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 10px;
	left: 8px;
}

#navicon.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

#navicon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 39px;
	left: 8px;
} */

/********** hamburger **********/
.text-light-blue-gray{color: #c9e9ee;}
.bg-dark-gray{background-color: #546670;}
.bg-light-blue{background-color: #00bfdf;}

.top-nav a
{
  color: #fff;
  font-size: 13px;
  padding: 0 0 0 20px;
}

.top-nav a:hover
{
  color: #00bfdf;
  font-size: 13px;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus
{
  color: #fff;
  font-size: 14px;
  padding: 8px 0;
	padding: 8px 0;
transition:color .3s
}

.navbar-dark .navbar-nav .nav-item:hover .nav-link{color:#fff;}

.navbar-light .navbar-nav .nav-link:hover
{
  color: #00bfdf;
  font-size: 14px;
transition:color .3s
	
}
.carousel-width
{
	max-width: 100vw;
}
.page-template-products .banner, .banner
{
	height: 100vh;
}
.page-template-products .mv-content button.slick-prev:hover, 
.page-template-products .mv-content button.slick-next:hover {
	top: -41px !important;
}
.banner-all {
	height:60vh;
}
.banner-blog {
	height:60vh;
	background:url(http://13.232.227.71/wp-content/uploads/2019/09/CF_Aboutus_1_wo_text.jpg) no-repeat;
}
.banner-single {
	box-shadow:inset 0 50px 100px #000;
	    background-repeat: no-repeat;
    background-size: cover;
	height:65vh;
}
.entry-meta time.updated, .entry-meta .byline {
	display:none;
}
.carousel-caption h2{
	width:50%;
}
.carousel-caption p{
	width:25%;
}


/* *************************************************  Exclusive benefits css Begins here  *******************************************/



.exclusive-benefits{
	background: rgb(0,191,223);
	background: linear-gradient(90deg, rgba(0,191,223,1) 0%, rgba(0,191,223,1) 50%, rgba(84,102,112,1) 50%, rgba(84,102,112,1) 100%);
}
.exclusive-benefits h5{
	text-transform: uppercase;
font-weight: 600;
}
.exclusive-benefits h5:after{

	position: absolute;
	content: "";
	width: 50%;
	height: 1px;
	background: #fff;
	bottom: -40%;
	left: 0;
}


.exclusive-benefits img{
	height: 50px;
margin-bottom: 20px;
}


/* *************************************************  Exclusive benefits css Ends here  *******************************************/



/* *************************************************  Capital Float in numbers css Begins here  *******************************************/


.c-float-numbers .left-content h5{
text-transform: uppercase;
width: 40%;
font-weight: 600;

}

.c-float-numbers .right-content .content{text-align:center;}

.c-float-numbers .right-content .content p {
font-size: 42px;
color: #00bfdf;
font-weight: 600;
letter-spacing: 1px;
	margin-bottom:0;
}

.c-float-numbers .right-content .content p span {
color: #00bfdf;
	font-weight:600;
}

.c-float-numbers .right-content .content span{
color: #546670;
font-weight: 500;
}
.c-float-numbers .right-content .content div {
	padding:20px 0 35px 0;
    background: #eee;
    /* margin-bottom: 30px; */
}
	

/* *************************************************  Capital Float in numbers css Begins here  *******************************************/

/* *************************************************  Get a sanction css Begins here  *******************************************/

.get-a-sanction {background-color: #c9e9ee;}
.get-a-sanction .left-content h5{
	width: 63%;
	font-weight: 600;
	
	}
	
	.get-a-sanction .right-content .content{text-align:center;}
	
	.get-a-sanction.right-content .content p {
	font-size: 45px;
	color: #00bfdf;
	font-weight: 600;
	letter-spacing: 1px;
	}
	
	.get-a-sanction .right-content .content span{
	/* font-size: 18px; */
	color: #546670;
	font-weight: 500;
	}
	.get-a-sanction .right-content .content div {
		padding:20px 0 35px 0;
		background: #eee;
		/* margin-bottom: 30px; */
	}
		.phone-img
		{
			width: 35%;
			top: -65%;
		}
	
	/* *************************************************  Get a sanction css Ends here  *******************************************/


	/* *************************************************  Our Products css Begins here  *******************************************/



  .our-products .card img
  {
    height: auto;
  }

  .our-products .card 
  {
  border: 0;
  }
  .our-products .card:focus 
  {
  outline: none;
  box-shadow: unset;
  }
  .our-products .card-text
  {
  letter-spacing: 0.2px;
	  text-decoration:none;
  }

 .our-products a:hover .card-text
  {
	  text-decoration:none;
	  font-weight:bold;
}
  .our-products .card .img-div figcaption
  {
    position: absolute;
    bottom: 0;
    padding: 2px 10px;
    color: #fff;
    background: #00bfdf;
    text-transform: uppercase;
    font-size: 14px;
  }
.navbar-brand {z-index:1000}
.dropdown-menu {background: #eaeaea !important;
    border: 0 !important;
    border-radius: 0 !important;
color: #000;
padding:0;
	transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
.dropdown-item {
 
	padding: .5rem 1.5rem;
}
figcaption a {color:#fff}
  /* *************************************************  Our Products css Ends here  *******************************************/

  

  /* *************************************************  Media css Begins here  *******************************************/

  .media .card img
  {
    height: auto;
  }

  .media .card 
  {
  border: 0;
  }
  .media .card:focus
  {
    outline: none;
    box-shadow: unset;
  }

  .media .card .img-div figcaption
  {
    position: absolute;
    bottom: 0;
    padding: 2px 10px;
    color: #fff;
    background: #00bfdf;
    text-transform: uppercase;
    font-size: 14px;
  }
  .media .card .logo
  {
height: 25px;
  }
.media h6 {font-weight:600}


  /* *************************************************  Media css Ends here  *******************************************/


  /* *************************************************  Awards css Begins here  *******************************************/
  .awards
  {
    background-color: #00bfdf;
  }
  .rio-promos-awards .card .img, .awards .card img
  {
    height: auto;
  }

  .rio-promos-awards .card, .awards .card 
  {
  border: 0;
  }
  .rio-promos-awards .card span, .awards .card span
  {
  font-size: 20px !important;
	  font-weight:600
  }
  .rio-promos-awards .card:focus, .awards .card:focus
  {
    outline: none;
    box-shadow: unset;
  }

   .rio-promos-awards .card .img-div img, .card-img-awards
  {
    width: 100%;
  }

  .rio-promos-awards .card .img-div figcaption, .awards .card .img-div figcaption
  {
    position: absolute;
    bottom: 0;
    padding: 2px 10px;
    color: #fff;
    background: #00bfdf;
    text-transform: uppercase;
    font-size: 14px;
  }
  .awards .card .logo
  {
height: 25px;
  }



  /* *************************************************  Awards css Ends here  *******************************************/



  /* *************************************************  Home-Blogs css Begins here  *******************************************/


.home-blogs .card
{
  border: 0;
}
.home-blogs .card a:hover
{
  color: #00bfdf;
}
.home-blogs .card-text{
  border-bottom: 1px solid #eee;
}


  /* *************************************************  Home-Blogs css Ends here  *******************************************/

  /* *************************************************  About page css Begins here  *******************************************/

  .banner
  {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .solving-problems{
    background: rgb(244,244,244);
    /*background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(244,244,244,1) 80%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);*/
  }
.solving-problems .about-ps {display:none !important}
.solving-problems .card
  {
border: 0;
background-color: transparent;
  }
  .solving-problems .card .card-inner
  {
background-color:#fff;
  }
.solving-problems .card img
  {
width: 70px;
  }
  
  .what-we-do .card, .team-what-we-do .card
  {
border: 0;
  }
 .our-history h6::before
 {
  content: "";
  background: #000;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 37%;
  left: 0;

 }
 .our-history, .our-history-years
 {
  background-color:#e8e7fe;
 }
 .our-history
 {
  background-color:#c9e9ee;
 }


 .our-history .bg-div
 {
   
/*  background: #757684; */
/*  content: "";
 width: 250px;
 height: 180px; */
/*  position: absolute; */
 }
 .our-history-years ul
{
list-style: none;
display: inline-flex;
}

.our-history-years ul li
{
font-size: 12px;
}
.our-history-years {
border-top: 1px solid #ccc;
}
.our-history-years .years
{
border-top: 2px solid #ccc;
}
.rio-promos-about img
{
  /* width: auto !important; */
}

.our-partners button.slick-prev, .our-partners button.slick-prev:hover, .our-partners button.slick-next, .our-partners button.slick-next:hover
{
  top: -190%;
  box-shadow: unset;
}
.our-partners button.slick-prev, .our-partners button.slick-next {
	display:none !important
}
.solving-problem-bg-container
{
  position: absolute;
    width: 30%;
    background: #eee;
    height: 50%;
    right: 0;
    top: 20%;

}
  /* *************************************************  About page css Ends here  *******************************************/

.page-id-953 .products-testimonials, .page-id-942 .products-testimonials {
	display:none;
} 
.product-emi-calculator 

.page-id-1869 .product-emi-calculator .content:last-child, .page-id-942 .our-partners, .page-id-953 .our-partners, .page-id-953 .c-float-numbers {
	display:none;	
}
  .team-testimonials{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 
  .team-testimonials button.slick-prev, .team-testimonials button.slick-prev:hover, .team-testimonials button.slick-next, .team-testimonials button.slick-next:hover
  {
    top: -16%;
    box-shadow: unset;
  }
  .team-testimonials button.slick-prev, .team-testimonials button.slick-prev:hover
  {
    right: 8%;
  }

  .team-leadership .card .card-img-top
  {
    height: 100%;
    
  }
 

  .team-leadership .card 
  {
     border: 0;
  }

  .team-leadership .team-twitter{
    background-color: #1ad2f1;
  }
  .team-leadership .team-linkedin
  {
    background-color: #00bfdf;

  }
  .team-btn-grp a
  {
    width: 50%;
    border-radius: 0;
  }
  .team-btn-grp a img
  {
    height: 14px;
    
  }
  /* .team-btn-grp 
  {
    visibility: hidden;
  }
  */
  .our-values .card
  {
    border: 0;
  }
  .our-values .card img
  {
    width: 65px;
    z-index: 1;
  }

.our-value-bg-div{
  width: 80px;
    background: #f1f1f1;
    height: 80px;
    position: absolute;
    right: 40%;
    top: 27%;
}

.our-values  .card-body
{
  z-index: 99999;
  position: relative;

}




.rio-promos-home .card.slick-slide
{
  width: 100vw !important;
}

/********** Footer CSS starts **********/

footer
{
  background: #546670;
}

footer a, .fc-footlink
{
  color: rgba(255, 255, 255, 0.7);
}

footer a:hover
{
  color: #00bfdf;
}

.footer li
{
  line-height: 22px;
  letter-spacing: 0.4px;
  padding-bottom: 6px;
}

footer h6
{
  color: #00bfdf;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.96px;
}
footer .border-top {
	border-color:rgba(255, 255, 255, 0.3) !important;
}
.bg-gunmetal
{
  background-color: #485963;
}

.contact-details li
{
  line-height: 28px;
}
.footer-social a 
{
  padding-right: 15px;
  display: inline-block;
}
.footer-social a img
{
  width: 20px;
  filter: brightness(0) invert(1);
}
.footer-social a img:hover
{
  filter:none;
}

/********** Footer css ends **********/




.home-banner #mainSlider h1{font-size: 30px;}

.home-banner .carousel-inner .carousel-item
{
  height: 100vh;
}

.home-banner .carousel-inner .carousel-item.active
{
  height: 100vh;
}

.home-banner .carousel-inner .carousel-item img
{
  height: 100%;
}


.carousel-caption {
  position: absolute;
  left: 9% !important;
  top: 35% !important;
  /* left: 15%; */
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left !important;
}

.carousel-control-prev img, .carousel-control-next img
{
  width: 40px;
}

.carousel-control-prev img{
  position: absolute;
  left: 20px;
}
.carousel-control-next img
{

  position: absolute;
  right: 20px;
}

.carousel-indicators{display: none;}

.description
{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(244,244,244,1) 50%, rgba(244,244,244,1) 100%);
}

.description .right-content small {
	font-size:100%
}

.description .card{
  border:0; 
  background: transparent;
  }
.description .card img{
  width: 80%; 
  }



.how-it-works-product
{
  background-repeat: no-repeat;
/*     background-size: 25%; */
    background-color: #c9e9ee;
	background-position-x:-20%;
}
.how-it-works-product .card
{
 border: 0;
}
.how-it-works-product .card img 
{
  width: 50px;
	height:50px;
}


.benefits-product
{
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(0,191,223,1) 75%, rgba(0,191,223,1) 100%);
}
.benefits-product:before
{
  content: "";
  background-image: url(../images/pattern-right.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: right;
  background-size: 10%;
  background-repeat: no-repeat;
  top: 0%;

}
.benefits-product .left-content ul li
{
  position: relative;
  list-style-type: none;
}



.benefits-product .left-content ul li:before{
 
    content: '';
    position: absolute;
    border-right:2px solid #556670;
    border-bottom:2px solid #556670;
    width:8px;
    height:8px;
    /*top: calc(50% - 0px);*/
	top: 12px;
    left: -20px;
    transform: translateY(-50%) rotate(-45deg);

}

.rio-promos-product-testimonials .card img
{
  width: 40%;
}
.rio-promos-product-testimonials .card 
{
  background-color: #e9f6f8;
}
.quote-text::before
{
  top: 10%;
  content: "";
  position: absolute;
  background-image: url(../images/quotation.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 30px;
  left: -6%;
}
.quote-text::after
{
  bottom: -20%;
  content: "";
  position: absolute;
  background-image: url(../images/quotation.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 30px;
  right: 0;
  transform: rotate(-180deg);
}

.rio-promos-product-testimonials button.slick-prev
{
/* , button.slick-prev:hover */
	
/*   right: 6%; */
}


.product-emi-calculator .left-content h5 {
  text-transform: uppercase;
  width: 70%;
  font-weight: 600;
  
  }
  
  .product-emi-calculator .right-content .content{text-align:center;}
  

  .product-emi-calculator .right-content .content span{
  /* font-size: 18px; */
  color: #546670;
  font-weight: 500;
  }
  .product-emi-calculator .right-content .content div {
    padding:25px 0;
    background: #eee;
  }
    
  .product-emi-calculator .right-content .content img
  {
	height:40px;
	  width:auto;
}
  .slider-bg
  {
    background-color: #f4f4f4;

  }
  .calc-amount
  {
    background-color: #546670;
	  
  }
.calc-amount p.results {
	font-size:28px !important;
	  font-weight:bold;
}
  .eligibility .card
  {
    border: 0;
    background-color: transparent;
  }
  .eligibility .card img
  {
    /* width: 65px; */
    z-index: 1;
    height: 70px;
  }

.eligibility-bg-div{
  width: 80px;
    background: #fff;
    opacity: 0.3;
    height: 80px;
    position: absolute;
    right: 36%;
    top: 27%;
}

.eligibility  .card-body
{
  z-index: 1;
  position: relative;

}
.eligibility
{

background-color: #c9e9ee;
}




/*******************************
* ACCORDION WITH TOGGLE ICONS
* Does not work properly if "in" is added after "collapse".
*******************************/
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}

.panel-title {
  font-size: 14px;
}

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
  font-size: 14px;
  background-color: #fff;
}
.panel-default:last-child, .panel-default .panel-body p:last-child, .panel-default .panel-body ul:last-child {
	margin-bottom:0 !important;
}

/* ----- v CAN BE DELETED v ----- */


/* .demo {
padding-top: 60px;
padding-bottom: 110px;
} */



.faq-collapse, .faq-collapse:hover
{
  background-color: #556670;
  color: #fff;
} 

.faq-collapse.collapsed, .faq-collapse.collapsed:hover
{
  background-color: transparent;
  color: #556670;
} 


.privacy-policy .faq-collapse, .privacy-policy .faq-collapse:hover
{
  background-color: transparent;
  color: #556670;
} 

.privacy-policy .faq-collapse.collapsed, .privacy-policy .faq-collapse.collapsed:hover
{
  background-color: transparent;
  color: #556670;
} 

.privacy-policy .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: transparent;
  border-color: #EEEEEE;
}

.privacy-policy .panel-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.privacy-policy .demo
{
  background-color: transparent;
}

.demo
{
  background-color: #f4f4f4;
}

.demo-footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 15px;
background-color: #212121;
text-align: center;
}

.demo-footer > a {
text-decoration: none;
font-weight: bold;
font-size: 14px;
color: #fff;
}

.sub-products
{
  background-color: #c9e9ee;
}
.sub-products .card
{
  background-color: transparent;
  border: 0;
}
.cities a {text-decoration:underline}

 .bl-product a:hover
{
  color: #546670;
  /* text-decoration: none; */
}
.cities a:hover {color:#00bfdf}


.emi-help .left-content p
{
width: 60%;
}

.emi-help .card
{
  border: 0;
  background-color: transparent;
}
.emi-help .card img
{
  /* width: 65px; */
  z-index: 1;
  height: 70px;
}

.emi-help-bg-div{
width: 80px;
  background: #f4f4f4;
  
  height: 80px;
  position: absolute;
  /* right: 36%; */
  top: 24%;
}

.emi-help .card-body
{
z-index: 99999;
position: relative;

}
.emi-help .card-inner {
width: 80%;
}
.dsa-partner .card-inner{
width: 80%;
}
.cf-sub
{
  position: relative;
  bottom: -3px;
  font-size: 25px;
}

.cl-our-products
{
  background: rgb(244,244,244);
background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(244,244,244,1) 40%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
}
.cl-our-products .card
{
  background: transparent;
}

.rb-bg
{
  background: rgb(244,244,244);
  background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(244,244,244,1) 70%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
}
.our-products.winners-rr .card-body
{
 
  background-color: #546670;
}

.corporate{
  background-color: #c9e9ee;
  
}
.corporate .card
{
border: 0;
background-color: transparent;
	min-height: 280px;
	max-height: 280px;
}
.corporate .card .card-inner
{
background-color:#fff;
}
.corporate .card img
{
width: 70px;
}

.corporate .left-content p
{
width: 65%;
}

.regulatory .card
{
  border: 0;
}
.regulatory .card img
{
width: 25%;
}
.regulatory .card-inner
{
background-color: #f4f4f4;
}

.media-awards
{
  background-color: #c9e9ee;
}
.media-awards .card img
{
  height: auto;
}

.media-awards .card 
{
border: 0;
}
.media-awards .card span
{
font-size: 11px;
}
.media-awards .card:focus
{
  outline: none;
  box-shadow: unset;
}

.card-img-media-awards
{
  width: 200px;
}


.media-awards .card .img-div figcaption
{
  position: absolute;
  bottom: 0;
  padding: 2px 10px;
  color: #fff;
  background: #00bfdf;
  text-transform: uppercase;
  font-size: 14px;
}
.media-awards .card .logo
{
height: 25px;
}
.presskit
{
  background-color: #f4f4f4;
}



/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
} */

/* .single-item {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  margin: 20px;
  border-radius: 10px;
  color: #888;
} */
.archives .cont .pagination {
  /* padding: 20px; */
  display: block;
  float: right;
  padding-top:20px;
  font-size: 13px;
}
.pagination {
  /* padding: 20px; */
  display: none;
}
.pagination,
.pagination * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.pagination a {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.pagination a.disabled {
  opacity: .3;
  pointer-events: none;
  cursor: not-allowed;
}
.pagination a.current {
  background: #f3f3f3;
}

.archives .single-item .card{
	box-shadow:0 3px 6px rgba(204,204,204, .3);
	border:0;
	border-radius:3px;
	min-height:215px;
	margin-bottom:15px;
}
.archives .single-item .card-body-inner img
{
width: 40%;
}
.archives .single-item .card-body-inner
{
border-bottom: 1px solid rgba(0, 0, 0, 0.07)
}
.archives .single-item .card-body a
{
	color:#546670;
	font-weight:600
}
.product-pattern{
	right:0;
	bottom:-18%;

	
}
.c-float-pattern{
	left:0;
	bottom:-7%;
}
.get-a-sanction-pattern{
	    right: 0;
    bottom: -12%;
    width: 10%;
	
}
.our-products-bg{
	background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(244,244,244,1) 60%, rgba(244,244,244,1) 100%);
}

.about-wwr{
	    right: 0;
    bottom: 0;
    width: 10%;
}

.about-ps{
	right: 6%;
    bottom: 4%;
}
.slick-slider{
	margin-bottom:0;
}

.about-wwd p, .about-oh p{
	width:50%;
}
.cl-cfn{
	    left: 0;
    bottom: -4%;
    width: 8%;
}
.cl-m{
	right: 13%;
    bottom: 20%;
    width: 10%;
}
.cl-m1{
    bottom: -17%;
    transform: rotate(90deg);
    left: 28%;
}
.cl-m-bg-div{
height: 10%;
    width: 5%;
    background-color: #e9f6f8;
    right: 15%;
    bottom: -3%;
}

.ce-m{
	right: 5%;
    bottom: 20%;
    width: 10%;
}
.ce-m1{
	    bottom: -23%;
    transform: rotate(90deg);
    left: 19%;
}

.ce-m-bg-div {
    height: 10%;
    width: 5%;
    background-color: #e9f6f8;
    right: 10%;
    bottom: -8%;
}
.ma-a{
	    left: 0;
    width: 6%;
    bottom: 25%;
}

.h-op .card{background-color:transparent;}

.slick-initialized .slick-slide{
	outline:none;
}



.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
  	height:56px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3500px;
  	
    margin-top:0px;
}

.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

/*.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}
*/
.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:19px 10px;
  padding-top:16px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
	border-bottom:1px solid #000;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
  padding:13px 10px;
	padding-top:14px;
}

.product-tab a.nav-link:before{content:unset;}

.product-tab .nav-tabs .nav-item.show .nav-link, .product-tab .nav-tabs .nav-link.active{
  color: #fff;
    background-color: #546670;;
    border:0;
	border-radius:0;
}

.product-tab .nav-tabs .nav-link{
  color: #546670;
	border-radius:0;
	border:0;
}

.product-tab .nav-tabs .nav-link img{
  width:auto;
	margin-right:10px;
	height:20px;
}

.product-tab .nav-tabs{
  border-bottom: 1px solid #546670;
}

.fixedContainer {
  position: fixed;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  z-index: 999999;
  transition: background-color 1s ease;

}

.scroll-header-btn{
  border-radius: 2px;
  background: #00bfdf;
  border: 1px solid #00bfdf;
  font-size: 12px;
  box-shadow: unset;

}
.scroll-header-btn:hover{
  border-radius: 2px;
  background: transparent;
  border: 1px solid #00bfdf;
  font-size: 12px;
  box-shadow: unset;
  color: #00bfdf;

}



.privacy-policy ul{font-size:13px;}
.privacy-policy ul li{padding-bottom:15px;}
.privacy-policy ul li:last-child{padding-bottom:0;}

/* .desc-tab.active .dti, .desc-tab:hover .dti{
  display: initial;
}
.desc-tab.active .dtci, .desc-tab:hover .dtci{
  display: none;
}
.desc-tab:hover .bti{
  display: initial;
}
.desc-tab .dti{
  display: none;
}
.desc-tab .dtci{
  display: initial;
}
 */
/* 
.hiw-tab.active .hiwtci, .hiw-tab:hover .hiwci{
  display: initial;
}
.hiw-tab.active .hiwti{
  display: none;
}
.hiw-tab:hover .hiwtci{
  display: initial;
}
.hiw-tab:hover .hiwti{
  display: none;
}
.hiw-tab .hiwtci{
  display: none;
}
.hiw-tab .hiwti{
  display: initial;
}


.benefits-tab.active .bti, .benefits-tab:hover .bti{
  display: initial;
}
.benefits-tab.active .btci, .benefits-tab:hover .btci{
  display: none;
}
.benefits-tab:hover .bti{
  display: initial;
}

.benefits-tab .bti{
  display: none;
}
.benefits-tab .btci{
  display: initial;
}


.testimonials-tab.active .ttci, .testimonials-tab:hover .ttci{
  display: initial;
}
.testimonials-tab.active .tti, .testimonials-tab:hover .tti{
  display: none;
}
.testimonials-tab:hover .ttci{
  display: initial;
}
.testimonials-tab .ttci{
  display: none;
}
.testimonials-tab .tti{
  display: initial;
}


.ir-tab.active .irtci, .ir-tab:hover .irtci{
  display: initial;
}
.ir-tab.active .irti, .ir-tab:hover .irti{
  display: none;
}
.ir-tab:hover .irtci{
  display: initial;
}
.ir-tab .irtci{
  display: none;
}
.ir-tab .irti{
  display: initial;
}


.emi-tab.active .emitci, .emi-tab:hover .emitci{
  display: initial;
}
.emi-tab.active .emiti, .emi-tab:hover .emiti{
  display: none;
}
.emi-tab:hover .emitci{
  display: initial;
}
.emi-tab .emitci{
  display: none;
}
.emi-tab .emiti{
  display: initial;
}


.eligibility-tab.active .etci, .eligibility-tab:hover .etci{
  display: initial;
}
.eligibility-tab.active .eti, .eligibility-tab:hover .eti{
  display: none;
}
.eligibility-tab:hover .etci{
  display: initial;
}

.eligibility-tab .etci{
  display: none;
}
.eligibility-tab .eti{
  display: initial;
}



.faq-tab.active .faqtci, .faq-tab:hover .faqtci{
  display: initial;
}
.faq-tab.active .faqti, .faq-tab:hover .faqti{
  display: none;
}
.faq-tab:hover .faqtci{
  display: initial;
}
.faq-tab .faqtci{
  display: none;
}
.faq-tab .faqti{
  display: initial;
}


.sp-tab.active .sptci, .sp-tab:hover .sptci{
  display: initial;
}
.sp-tab.active .spti, .sp-tab:hover .spti{
  display: none;
}

.sp-tab:hover .sptci{
  display: initial;
}

.sp-tab .sptci{
  display: none;
}
.sp-tab .spti{
  display: initial;
}


.li-tab.active .litci, .li-tab:hover .litci{
  display: initial;
}
.li-tab.active .liti, .li-tab:hover .liti{
  display: none;
}
.li-tab:hover .litci{
  display: initial;
}

.li-tab .litci{
  display: none;
}
.li-tab .liti{
  display: initial;
} */

.team-leadership .card .card-body, .team-leadership .card .team-cardbody-parent{
background-color:#fff;
}

.team-btn-grp{
  /* display: none !important; */
  visibility: hidden;
}
.team-leadership .card:hover .team-btn-grp{
  /* display: flex !important; */
  visibility: visible;
}
.team-leadership .card:hover .team-cardbody-parent{
bottom: 20px;
animation-name: teamsocial;
animation-duration: .1s;
transition: ease;

}



/* The animation code */
@keyframes teamsocial {
  0%   {bottom:0;}
  25%  {bottom:5px;}
  50%  {bottom:10px;}
  75%  {bottom:15px;}
  100% {bottom:20px;}
}

.inner-contactus{
	    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.page-business-loans-in-bangalore .product-tab .nav-tabs .nav-link:last-child,
.page-business-loans-in-delhi .product-tab .nav-tabs .nav-link:last-child, 
.page-business-loans-in-pune .product-tab .nav-tabs .nav-link:last-child,
.page-business-loans-in-chennai .product-tab .nav-tabs .nav-link:last-child, 
.page-business-loans-in-hyderabad .product-tab .nav-tabs .nav-link:last-child, 
.page-business-loans-in-mumbai .product-tab .nav-tabs .nav-link:last-child{
	display:none
}
.page-business-loans-in-bangalore .product-tab .nav-tabs .nav-link:nth-child(9)
.page-business-loans-in-bangalore .product-tab .nav-tabs .nav-link:nth-child(9),
.page-business-loans-in-delhi .product-tab .nav-tabs .nav-link:nth-child(9), 
.page-business-loans-in-pune .product-tab .nav-tabs .nav-link:nth-child(9),
.page-business-loans-in-chennai .product-tab .nav-tabs .nav-link:nth-child(9), 
.page-business-loans-in-hyderabad .product-tab .nav-tabs .nav-link:nth-child(9), 
.page-business-loans-in-mumbai .product-tab .nav-tabs .nav-link:nth-child(9),
.page-school-finance .product-tab .nav-tabs .nav-link:nth-child(9){
	display:none
}

.product-tab .nav-tabs .nav-item.show .nav-link, .product-tab .nav-tabs .nav-link.active {
    color: unset;
    background-color: unset;
    border: 0;
	border-radius: 0;}
	
	.product-tab .nav-tabs .nav-link:hover{
		color: #ccc;
    background: unset;
    border-radius: 0;
    border: 0;
	}
	.description, .benefits-product {background:unset;}
	
	.description .right-content .card .card-text small{font-size:90%;}

	.contactus-main form{padding-left:0 !important;}
	.locateus .input-group select {
    background-color: #fff !important;
 
}	
	
	.contactus-main .wpcf7-form-control-wrap input, .contactus-main .wpcf7-form-control-wrap select, .contactus-main .wpcf7-form-control-wrap textarea {
		width:100% !important;
			margin-right:0 !important;
	}
	.contactus-main {
    background: #f4f4f4 !important;
  
}
	.inner-contactus .text-container p{width:100%;}
	
	.about-wwd p, .about-oh p{
	width:100%;
}
	.banner h2{
		font-size:25px;
		line-height:unset;
		
	}
	.banner .button-wrap{
		padding-top:0 !important;
		
	}

/*	.carousel-caption h2{
	width:100%;
}*/
.carousel-caption p{
	width:75%;
}
		.navbar-nav .btn {
		outline:none;
	}
	.page-id-2094 .media {display:none}
.team-testimonials .card-body {
	min-height:383px;
}
	.oh-rhs>img {width:70% !important}
	#y-2014 .card, #y-2015 .card, #y-2016 .card, #y-2017 .card, #y-2018 .card, #y-2019 .card, #y-2020 .card {
		box-shadow:0 3px 6px rgba(0,0,0, .2);
	}
	#y-2014 .card img { width:80px !important}

.product-emi-calculator .right-content .content span.flat {font-size: 11px;
    color: #999;
    position: absolute;
    bottom: 10px;
	left: 30px;}

.f-subtext {font-size:16px; font-weight:600; padding-bottom:20px}

.modal-header .close {
	border:0;
	outline:none;
}
.page-term-finance .flat, .page-school-finance .flat, .page-business-loan-eligibility .flat,
.page-business-loan-emi-calculator .flat, .page-commercial-loans .flat, .page-documents-required-for-a-business-loan .flat, .page-business-loan-for-women .flat, .page-working-capital-loans .flat, .page-business-loan-interest-rates .flat, .page-sme-msme-loans .flat, .page-sme-msme-loans .sp-tab, .page-sme-msme-loans .li-tab, .page-business-loan-interest-rates .sp-tab, .page-business-loan-interest-rates .li-tab {display:none}


.page-walnut .banner .button-wrap {
	margin-top:20px;
}
.business-loan .btn-cancel {
	display:none
}
.slick-disabled {
	opacity:0.3 !important;
}
.rio-promos-product .slick-list, .rio-promos-product-testimonials .slick-list,
.rio-promos-sub-products .slick-list {
	padding-left:0 !important;
}
/************* Responsive ************/

@media screen and (min-width: 320px) and (max-width: 767px) {
	.custom-select option {font-size:14px;}
	.page-school-finance .custom-select option:nth-child(10) { display:none}
	.carousel-caption h2 {width:100%}
	.page-online-checkout-finance .walnut-desc {padding-right: 50px;}
	.banner-desc-logo{display:none;}
	.c-float-numbers .right-content .content p {
		font-size:30px;
	}
	.our-history .bg-div {
		text-align:center
	}
	#v-pills-tab {
		padding:0;
	}
	#v-pills-tabContent .input-group.w-50 {
		width:unset !important
	}
	.get-a-sanction .left-content h5 {
		width:100%
	}
	.inner-contactus .text-container p {
		width:100% !important
	}
	.wpcf7-form-control-wrap select {
		width:95% !important
	}
		.how-it-works-product{
		background-image:none !important;
	}
	.product-emi-calculator .right-content .content div {
		padding:10px 0;
	}
	.submit-btn-style {
		width:47% !important;
	}
	.searchform input[type=submit] {
		height:42px;
		padding:5px 10px;
	}
	.page-online-checkout-finance .banner .container .d-flex.align-items-center, .page-walnut .banner .container .d-flex.align-items-center.h-100, .page-dsa .banner .container .d-flex.align-items-center.h-100 {
	background:linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%)
}
	.searchform input[type=text] {
		font-size:16px !important
	}
	.page-template-products .banner .container .col-12.mt-4, .page-walnut .banner .container .col-12.mt-4, .page-loans-against-card-swipes .banner .container .col-12.mt-4 {
		margin-top:-240px !important;
	}
	.rio-promos-product .repeater-product .card {
		min-height:200px !important
	}
	.page-walnut .rio-promos-product .repeater-product .card {
		min-height:240px !important
	}
	.page-about-us .our-partners .rio-promos-about .slick-list .slick-track .slick-slide img {
		width:150px !important;
	}
	/*.faq-content #v-pills-tabContent {padding-left:50px; padding-right:0} */
	
	.faq-content .tab-pane {padding-right:0}
	
	.desc-tab.active img, .desc-tab:hover img, .hiw-tab.active img, .hiw-tab:hover img, .benefits-tab.active img, .benefits-tab:hover img, .testimonials-tab.active img, .testimonials-tab:hover img, .ir-tab.active img, .ir-tab:hover img, .emi-tab.active img, .emi-tab:hover img, .eligibility-tab.active img, .eligibility-tab:hover img, .faq-tab.active img, .faq-tab:hover img, .sp-tab.active img, .sp-tab:hover img, .li-tab.active img, .li-tab:hover img {filter: unset !important;}

  .exclusive-benefits {
    background: rgb(0,191,223);
    /* background:unset; */
  }
  .emi-help .left-content p
{
width: 100%;
}
.emi-help .card-inner
{
width: 100%;

}
.corporate .left-content p
{
width: 100%;
}


}
/*

.navbar-collapse.show{
		background: #00bfdf;
padding: 20px;
}
.navbar-collapse.collapsing{
		background: #00bfdf;
padding: 20px;
}
*/
a.nav-link{
	position:relative;
}

a:hover.nav-link:before {
	width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.page-dsa .media .rio-promos-product-testimonials .slick-list .card {
    min-height: 692px !important;
}
	
	.product-pattern{
	right:0;
	bottom:-10%;

	
}
	.c-float-numbers .left-content h5{
		width:70% !important;
	}
	.c-float-numbers .right-content .content p {
    font-size: 35px;
    color: #00bfdf;
    font-weight: 600;
    letter-spacing: 1px;
}
	.phone-img {
    width: 60%;
    top: -50%;
}
	.carousel-caption{
		left:13% !important;
	}
	
	.carousel-caption h2{
	width:75%;
}
.carousel-caption p{
	width:50%;
}
	
}

@media only screen and (max-width: 991px){
.page-about-us .our-partners .rio-promos-about .slick-list .slick-track .slick-slide img {width:200px !important;
}
	
	.page-merchant-checkout-finance .our-partners .rio-promos-about .slick-list .slick-track .slick-slide img {width:200px !important;
}	
}

@media only screen and (max-width: 1200px){
	.c-float-numbers .left-content h5{
		width:50%;
	}
		.rfs.fs-20{		right: 6%;
font-size:unset;
	}
}

@media only screen and (min-width: 1921px){
.banner
{
	height: 40vh;
}
}

@media only screen and (max-width: 600px){
	
.our-history .nav-tabs.years{border-bottom:0;display:flex;overflow:scroll;}

	.rio-promos-product-testimonials .card img {
		width:60%
	}
.slick-slider {		
	margin-bottom: 0;
/* 	padding-left:0 */
	}
	.carousel-control-prev img{display:none;}
.carousel-control-next img{display:none;}
.navbar-brand img{width:80%;}	
	.home-banner .carousel-inner .carousel-item{
		height:100%;
		background-repeat: no-repeat;
    background-size: cover;
	}
	
		.home-banner .carousel-inner .carousel-item.active
{		
height:100%;		

}
		.our-history-years .years
{		
border-top: 2px solid #ccc;	
	overflow:scroll;}

}

.card-img-top {
	border-radius:0;
}


.inner-contactus .text-container p{width:50%;}
.contact-faq p a{text-decoration:underline;}
.contact-faq p a:hover{color:#00bfdf;}



.contactus-submit-btn {
	    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    padding: 10px 35px;
    margin-right: 15px;
    font-weight: 600;
/*     margin-left: 50px; */
    position: relative;
    background-color: #00bfdf;
    border: 0;
    color: #fff;
	margin-top:10px;
}

.contactus-submit-btn:before {
    content: " ";
    width: 50px;
    height: 2px;
    background-color: #00bfdf;
    display: inline-block;
    position: absolute;
    left: -50px;
    /* top: 22px; */
    top: 50%;
}


.wpcf7-form-control-wrap input, .wpcf7-form-control-wrap select{
	    border: 0;
    padding: 12px 18px;
/* 	margin-right:20px; */
	width:30%;
	    margin: 0 18px 18px 0;
	font-weight: bold;
    color: #556670;
}
.wpcf7-form-control-wrap textarea{
		    border: 0;
    padding: 12px 18px;
	width:61%;
	    margin: 0 18px 18px 0;
	font-weight: bold;
    color: #556670;
	
}
.submit-btn-style{
	    width: 60%;
    display: flex;
    justify-content: center;
}


.fc-black{color: #000;}
.contactus-main{
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(244,244,244,1) 50%, rgba(244,244,244,1) 100%);
}
.contact-address address{width: 61%;line-height: 22px;}
.contact-address ul li a:hover{color: #00bfdf;}
.contact-address ul li{list-style-type: none;    padding-left: 35px;}
.contact-address ul li.mail{
  background-image: url(/wp-content/themes/capitalfloat/images/mail.png);
  background-repeat: no-repeat;
  background-size: 20px;
}
.contact-address ul li.telephone{
  background-image: url(/wp-content/themes/capitalfloat/images/tel.png);
  background-repeat: no-repeat;
  background-size: 19px;
}
.locateus .input-group-append, .locateus a {
	display:none;
}

.locateus .input-group{
  width: 60%;
}
.locateus .input-group select{
  background-color: #f4f4f4;
  border: 0;
  border-radius: 0;
}
.locateus .input-group .input-group-append button{
  background-color: #00bfdf;
  border: 0;
  border-radius: 0;
}
.locateus .input-group .input-group-append button img{
 width: 22px;
}
.contactus-main .submit-btn-style {
    width: auto;
    display: initial;
	justify-content: unset;}

.contactus-main .wpcf7-form-control-wrap input, .contactus-main .wpcf7-form-control-wrap select{
	    width: 45%
}
.contactus-main .wpcf7-form-control-wrap textarea{
	width:93%;
}
.contactus-main form{padding-left:20px;}
.contact-pattern{bottom: -60px;
    right: 0;
    width: 10%;
}
.contactus-main p a:hover{color:#00bfdf;}
input:focus{outline:none;}



.tab-btn:hover{
  border-radius: 2px;
  background: #00bfdf !important;
  border: 1px solid #00bfdf !important;
  font-size: 12px;
  box-shadow: unset;
  color: #fff !important;
  border-radius: 0 ;
  transition: all .5s;


}
.tab-btn{
  border-radius: 2px;
  background: transparent !important;
  border: 1px solid #00bfdf !important;
  font-size: 12px;
  box-shadow: unset;
  color: #00bfdf !important;
  border-radius: 0 !important;
}
.faq .tab-content>.active {
  display: flex;
}
.faq-content .tab-pane  .nav-link.active{
  border-radius: 2px;
  background: #00bfdf !important;
  border: 1px solid #00bfdf !important;
  /* font-size: 12px; */
  box-shadow: unset;
  color: #fff !important;
  border-radius: 0 ;
  transition: all .5s;

}
.faq-content .tab-pane  .nav-link{
  border-radius: 2px;
  background: #c9e9ee !important;
  border: 1px solid #c9e9ee !important;
  /* font-size: 12px; */
  box-shadow: unset;
  color: #616161 !important;
  border-radius: 0 ;
  transition: all .5s;

}
.faq-content .demo{

  background-color: transparent;


}

.input-group-append button{box-shadow: unset;}
.faq .input-group-append span{background-color: transparent;}
.faq .input-group-append span img{width: 20px;}
.faq .input-group input{border-radius: 0;border-right: 0 !important;border: 2px solid #ccc;}
.faq .input-group .input-group-append span{border-radius: 0;border-left: 0 !important;border: 2px solid #ccc;}
.faq a.nav-link:before{content:unset !important}


/* #ajaxsearchlite1{display:none;} */
.modal{z-index:999999; 
	background-color:#fff;
	  box-shadow:0 3px 6px rgba(204,204,204, .5);
	height:45%;
/* 	min-height:400px;  */
}
.modal-dialog{
	max-width:100%;
	margin:auto;
}
.page-template-blog .banner {
	display:none
}



.entry-content .card, .page-template-blog .card, .page-home .card {
	border:0;
}


.entry-content .card-body, .page-template-blog .card-body, .page-home .card-body {
	padding-left:0;
	font-weight:600
}

.page-template-blog .card-text, .page-home .card-text, .modal-footer, .single-post .card-text {
	display:none !important
}
.entry-content .card-img-top, .page-template-blog .card-img-top, .page-home .card-img-top {
	height:63%
}
 .banner img.wp-post-image {
	position:absolute;
	width:100%;
	left:0;
}
.single-post article {
	font-size:14px;
	color:#556670;
}
.single-post article p {
	line-height:24px;
	padding-bottom:5px;
}
.single-post article h2 {
	display:none
}
.single-post article h3 {
	font-size:16px
}
.page-home ul.page-numbers {
	float:right;
	padding-left:10px;
	margin: 30px 0
}
.page-home ul.page-numbers li {
	float:left;
	list-style:none;
	padding:5px 10px;	
}

.page-home ul.page-numbers li a {
	color:#546670;
	font-size:12px;
}
.page-home ul.page-numbers li a:hover {
	color:#00bfdf;
}
.page-home ul.page-numbers li a.prev, .page-home ul.page-numbers li a.next {

	text-transform:uppercase
}
.page-home ul.page-numbers li .page-numbers.current {
	background:#546670;
	color:#fff;
	font-size:12px;
	padding:0 8px;
	border-radius:3px;
}




.page-template-blog ul.page-numbers {
	float:right;
	padding-left:10px;
	margin: 30px 0
}
.page-template-blog ul.page-numbers li {
	float:left;
	list-style:none;
	padding:5px 10px;	
}

.page-template-blog ul.page-numbers li a {
	color:#546670;
	font-size:12px;
}
.page-template-blog ul.page-numbers li a:hover {
	color:#00bfdf;
}
.page-template-blog ul.page-numbers li a.prev, .page-template-blog ul.page-numbers li a.next {

	text-transform:uppercase
}
.page-template-blog ul.page-numbers li .page-numbers.current {
	background:#546670;
	color:#fff;
	font-size:12px;
	padding:0 8px;
	border-radius:3px;
}
.entry-content .card-title a, .page-template-blog .card-title a, .page-home .card-title a {
	color:#6c757d;
	font-weight:600
}
.entry-content .card-title:hover, .page-template-blog .card-title a:hover, .page-home .card-title a:hover {
	color:#00bfdf;
	text-decoration:none;
}
.modal-content{border-radius:0;border:0;}
div[id*='ajaxsearchlite'].wpdreams_asl_container {
	width:60% !important;
	margin:0 auto !important;
}
.search-no-results .fixedContainer, .page-template-blog .fixedContainer, .search-results .fixedContainer, .search-no-results .fixedContainer {
	background:#546670;
}
.search-no-results .fixedContainer.header-fixed, .page-template-blog .fixedContainer.header-fixed, .search-results .fixedContainer.header-fixed, .search-no-results .fixedContainer.header-fixed {
	background:#fff;
}
#ajaxsearchlite1 .probox, div.asl_w .probox
{
	margin-top:20% !important;
	border:0 !important
}
body.search #ajaxsearchlite1 .probox, div.asl_w .probox
{
	margin-top:0 !important;
}
.modal-header {
	border-bottom:0 !important;
}
div.asl_w {
	box-shadow:0 1px 0 0 #ccc
}
.home-banner #carouselExampleCaptions .carousel-inner .carousel-item{
	background-repeat:no-repeat;
	background-size:cover;
}
.pdt-m{
	right:0;
	bottom:0;
	width:10%;
}
.close {
    float: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    color: #666;
    text-shadow: none !important;
    opacity: .5;
	background-color:transparent;
	box-shadow:none
}
.pted{
width:80px;
height:80px;
background:#c9e9ee;
	top:0;
	left:5%;
}
.request-cb{border:1px solid transparent;}
.faq-product .panel-heading{
	background-color: transparent;
   
    border: 1px solid #e5e5e5;
}
.mv-content .card img{width:50px;}
.mv-content .slick-arrow{top:-18%;}

@media only screen and (max-width: 767px)
{
	

	
	.rio-promos .slick-track{
	position:relative;
	left:-30px;
}

.rio-promos-media .slick-track{
	position:relative;
	left:-10px;
}

.rio-promos-awards .slick-track{
	position:relative;
	left:-30px;
}
	
	
	.page-home .our-products .rio-promos .slick-prev, .page-home .our-products .rio-promos .slick-next{top:-14%;}
	
	.page-home .awards .slick-prev, .page-home .awards .slick-next{top:-18% !important;}
	.rio-promos-product-testimonials button.slick-prev {
    right: 11% !important;
    top: -6%;
}
	
	 .page-walnut .rio-promos-product.mv-content .slick-arrow {
    top: -16%;
}
	.page-walnut .rio-promos-product-testimonials .slick-arrow{top:-8%;}
	.page-enterprise .rio-promos .slick-arrow{top:-11%;}
	.page-enterprise .rio-promos-product-testimonials .slick-arrow{top:-8%;}
	
	.page-consumer-loans .rio-promos .slick-arrow{top:-11%;}
	.page-consumer-loans .rio-promos-product-testimonials .slick-arrow{top:-8%;}
	
	.page-team .rio-promos-teams-testimonials .slick-arrow{top:-9%;}
	.page-team .rio-promos-teams-testimonials .slick-prev{right:12%;}
	.page-team .rio-promos .slick-arrow{top:-10%;}
	
	 
	.page-media-awards .rio-promos-awards .slick-arrow, .page-media-awards .rio-promos-awards .slick-arrow:hover{top:-17% !important;}
	
	
	
	
	
	
.rio-promos-product-testimonials .slick-list .card{min-height:580px !important;}
		.page-dsa .media .rio-promos-product-testimonials .slick-list .card {
    min-height: 692px !important;
}
	
    
  .footer ul li
  {
    display: inline-block;
  }

  .footer ul li::after
  {
    content: " | ";
    padding: 0 5px;
	  color: rgba(255, 255, 255, 0.7);
  }

  .footer ul li:last-child::after
  {
    content: " ";
  }
	
	.our-products .card {width:18rem;}
	.slick-prev {right:12%}
	
	.carousel-inner {height:80vh}
		.product-emi-calculator hr, .c-float-numbers hr, .exclusive-benefits h5:after {display:none}
	.how-it-works-product h5, #products-testimonials h5, 
	.eligibility h5, .faq-product h5, .sub-products h5 {text-align:left !important}
	.product-emi-calculator .left-content h5, .c-float-numbers .left-content h5 {width:100%}
	.top-nav {display:none !important}
} 

@media only screen and (max-width: 600px)
{
.rio-promos-product-testimonials .slick-list .card{min-height:640px !important;}
	.page-dsa .media .rio-promos-product-testimonials .slick-list .card {
    min-height: 690px !important;
}
	
}

/*animation element sliding up*/
.animation-element {
  opacity: 0;
  position: relative;
	
}
.animation-element.slide-up {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translate3d(0px, 100px, 0px);
}
.animation-element.slide-up.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

	.dropdown:hover>.dropdown-menu {
  display: block;
/* 	background: #d6e7eb !important; */
		margin:0;
	
}
.dropdown-item:focus, .dropdown-item:hover {
		background: #d6e7eb !important;
    color: #000;
/*     text-decoration: none;
    background-color: #f8f9fa; */
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
/*   color: #f1f1f1; */
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
/*   font-size: 36px; */
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.navbar-dark .sidenav .navbar-nav .nav-link, .navbar-dark .sidenav .navbar-nav .nav-link:focus, .navbar-light .sidenav .navbar-nav .nav-link, .navbar-light .sidenav .navbar-nav .nav-link:focus{
	color:#000 !important;
}
.sidenav .header-applynow, .sidenav .header-applynow{
	border-radius: 2px;
    background: #00bfdf;
    border: 1px solid #00bfdf;
    font-size: 12px;
    box-shadow: unset;
	    position: absolute;
    bottom: 0;
    margin: 0 !important;
    width: 100%;
    padding: 15px;
}
.sidenav .navbar-nav .nav-item {
	padding:5px 0 !important;
}
.sidenav .navbar-nav .nav-item .nav-link{
	font-weight:600;
   padding:10px 20px;
   
}
.sidenav .navbar-nav .nav-item .nav-link:active,
.sidenav .navbar-nav .nav-item .nav-link:hover,
.sidenav .navbar-nav .nav-item .nav-link:focus{
	  background: #eee;    
}
.sidenav .navbar-nav .nav-item a.nav-link:before{
	background:unset;
}
.sidenav .navbar-nav .nav-item .dropdown-menu .dropdown-item{font-size:14px;}


/*  .awards button.slick-prev:hover */

.awards button.slick-prev {
    position: absolute;
    top: -15% !important;
    /* left: 57px; */
    z-index: 1;
    width: 30px;
    height: 30px;
    background-image: url(/wp-content/uploads/2019/09/left-arrow.png);
    background-size: 100%;
}
/* .awards button.slick-next:hover */
.awards button.slick-next {
    position: absolute;
    top: -15% !important;
    right: 1%;
    width: 30px;
    height: 30px;
    background-image: url(/wp-content/uploads/2019/09/right-arrow.png);
    background-size: 100%;
}

.media-awards button.slick-prev, .media-awards button.slick-prev:hover {
    position: absolute;
    top: -15% !important;
    /* left: 57px; */
    z-index: 1;
    width: 30px;
    height: 30px;
    background-image: url(/wp-content/uploads/2019/09/left-arrow.png);
    background-size: 100%;
}
.media-awards button.slick-next, .media-awards button.slick-next:hover {
    position: absolute;
    top: -15% !important;
    right: 1%;
    width: 30px;
    height: 30px;
    background-image: url(/wp-content/uploads/2019/09/right-arrow.png);
    background-size: 100%;
}

.media-awards .btn-cancel:hover, .media-awards button:hover {
    border: 0;
}

.text-li{color:#212529;}
.our-history ul li a:hover{color:#212529;}
.our-history .nav-tabs.years{border-top:2px solid #ccc;}
.our-history .nav-tabs.years{border-bottom:0;display:flex;}
.our-history ul li{display:inline-flex;}
/* .dti{filter: brightness(0) invert(1);}
.dti:hover{filter: 0;} */

/*
.desc-tab.active img, .desc-tab:hover img {filter: brightness(0) invert(1);}
.hiw-tab.active img, .hiw-tab:hover img {filter: brightness(0) invert(1);}
.benefits-tab.active img, .benefits-tab:hover img {filter: brightness(0) invert(1);}
.testimonials-tab.active img, .testimonials-tab:hover img {filter: brightness(0) invert(1);}
.ir-tab.active img, .ir-tab:hover img {filter: brightness(0) invert(1);}
.emi-tab.active img, .emi-tab:hover img {filter: brightness(0) invert(1);}
.eligibility-tab.active img, .eligibility-tab:hover img {filter: brightness(0) invert(1);}
.faq-tab.active img, .faq-tab:hover img {filter: brightness(0) invert(1);}
.sp-tab.active img, .sp-tab:hover img {filter: brightness(0) invert(1);}
.li-tab.active img, .li-tab:hover img {filter: brightness(0) invert(1);} */

.product-tab .nav-tabs .nav-link:hover img {
   -webkit-filter: invert(1);
   filter: invert(1);
   }

.page-id-2094 .dsa-partner .card:nth-child(5){display:none;}


.fixedElement {
    width: 100%;
    z-index: 99;
    position: static;
}

.fixedElement.sticky {
    position: fixed;
    top: 74px;
}

/* PAGE STYLING FOR DEMO. IGNORE */

.fixedElement {

    background: #fff;
}


.home .awards .rio-promos-awards .card{min-height:275px;}
.our-products .rio-promos .slick-slide:hover a{text-decoration:none;}
.sub-products .rio-promos-sub-products .slick-list .card a:hover{text-decoration:none;}
.navbar .navbar-collapse ul li:hover{background-color:#00bfdf;}
.banner-all .btn-apply{color:#fff !important;}
.banner-all .btn-apply:hover{color:#00bfdf !important;transition: all .5s;}

.page-media-awards .media-awards .rio-promos-awards .slick-list .card {
    min-height: 280px;
}

.prod-tab-mobile .custom-select {
	width: 95%;
    margin: 2%;
}
html { scroll-behavior: smooth; } 

/************* Search *************/
.searchform {
	padding-top:2%
}
.searchform label {
	display:none;
}
.searchform input[type=text] {
	width:75%;
	border:0;
	border-bottom:1px solid #efefef;
	    font-size: 24px;
    padding-bottom: 15px;
}
.button, a.btn-apply, .searchform input[type=submit]
{
    padding: 7px 25px;
    box-shadow:  0 6px 12px 1px rgba(0, 0, 0, 0.1);
}
.search-results h1 {
	font-size:24px;
	font-weight:600;
	padding:60px 0 20px 0;
}
.search-results h2 {
	font-size:14px;
	font-weight:600;
}
.search-results .searchform {
	padding-top:30px
}
.pgntn-page-pagination {
	margin-top:30px !important;
}
.pgntn-page-pagination-intro {
	display:none !important;
}
.pgntn-page-pagination a {
	border:0 !important;
}
.search-word {margin-left:20px;
	padding:0 15px;
background-color:#efefef;
font-size:16px}
.search-results .page-content #accordion, .search-no-results .banner, .search-results .banner{
	display:none
}

/* .page-media-awards .archives .single-item{display:block !important;} */

/* .page-merchant-checkout-finance .header-applynow, .page-online-checkout-finance .header-applynow{display:none;} */

.page-online-checkout-finance .media .rio-promos-product-testimonials .slick-list .card{min-height:535px;}

.page-merchant-checkout-finance .media .rio-promos-product-testimonials .slick-list .card{min-height:535px;}
.rio-promos-product-testimonials .slick-list .card{min-height:571px;}
.page-walnut .rio-promos-product-testimonials .slick-list .card{min-height:460px !important;}
.page-enterprise .rio-promos-product-testimonials .slick-list .card{min-height:460px !important;}

.banner-desc-logo{width: 40%;
    position: absolute;
    bottom: -10px;
    right: -10px;}

.page-blog .banner{display:none !important;}
.page-dsa .media .rio-promos-product-testimonials .slick-list .card{min-height:622px;}

.page-online-checkout-finance .our-partners{display:none;}

.rio-promos-product .repeater-product .card{min-height:200px;}

 .rio-promos-product-testimonials button.slick-prev {
    right: 7%;
    top: -6%;
}

.rio-promos-product-testimonials button.slick-next{
	 right: 0%;
    top: -6%;
}
.page-loans-against-card-swipes .rio-promos-sub-products .slick-arrow{top:-13%;}
.page-media-awards .cont .pagination.pagination{display:block !important;}

.search-modal #searchform input#s::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ccc;
}
.search-modal #searchform input#s:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc;
  
}
.search-modal #searchform input#s::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc;
 
}
.search-modal #searchform input#s:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ccc;
}
.search-modal #searchform input#s::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ccc;
}

.search-modal #searchform input#s::placeholder { /* Most modern browsers support this now. */
   color:    #ccc;
}

.page-home .page-numbers{display:none;}

.our-history-tab-img{width:60px; opacity:0.4}
a.active .our-history-tab-img { opacity:1}
.oh-tab-right-content p{font-size:60px;}
.our-history .tab-content .card img{width:120px;}

.oh-rhs p, .our-history .tab-content .card .card-text{color:#006d81;}
.oh-rhs h4{color:#009eb9; font-size:24px;font-weight: 600;}
.oh-rhs p {font-size:16px}
#y-2014 .oh-rhs p {font-size:46px}
.search.search-results .banner{display:none !important;}
	.single-format-standard .banner-all:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.5);
		height:65vh
	}
@media screen and (min-width: 320px) and (max-width: 767px) {
		.rio-promos .slick-list.draggable {padding:0 !important;}
	.tab-btn {padding:7px 10px }
	.tab-btn:first-child { margin-right:10px}
.cl-our-products {
background:#fff;
}
	.carousel-caption {
		right:15px !important;
		top:60% !important;
		left:5% !important
	}
	.carousel-caption h2 {
		font-size:1.625rem;
	}
	.banner-desc-logo {
    width: 30% !important;
        bottom: -10px !important;
    right: unset !important;
		left:140px !important;
		display:block !important
	}
	.wpcf7-form-control-wrap input, .wpcf7-form-control-wrap select {
		width:46%;
		margin:0 10px 18px 0
	}
	.wpcf7-form-control-wrap textarea {
		width:95%;
	}
	.rio-promos-about {padding-left:70px}
	}
.oh-rhs>img {
	width:48% !important;
margin-top:30px;}
.our-history .tab-content .card img {
	width:45px !important
}
#y-2014 .card img {
	width:35px !important;
}
.faq-content .tab-pane  .nav-link{
 padding:5px 3px;
	font-size:14px;
}
.about-oh .card-title {
	font-size:18px;
}

.page-home .rio-promos-media .card .img-div{left:-21px;}

.our-history .nav-tabsli a.text-li.active img{opacity:1;}

.sub-products .slick-prev , .sub-products .slick-next{top:-15% !important;}

.op1{opacity:1;}